/*
 * ApimaticApiLib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

package io.apimatic.api.controllers;

import io.apimatic.api.ApiHelper;
import io.apimatic.api.Server;
import io.apimatic.api.exceptions.ApiException;
import io.apimatic.api.http.request.HttpMethod;
import io.apimatic.api.http.response.ApiResponse;
import io.apimatic.api.models.Accept;
import io.apimatic.api.models.Accept2;
import io.apimatic.api.models.ApiEntity;
import io.apimatic.api.models.ContentType;
import io.apimatic.api.models.ExportFormats;
import io.apimatic.api.models.ImportApiVersionViaUrlRequest;
import io.apimatic.api.models.ImportApiViaUrlRequest;
import io.apimatic.api.models.InplaceImportApiViaUrlRequest;
import io.apimatic.api.utilities.FileWrapper;
import io.apimatic.core.ApiCall;
import io.apimatic.core.ErrorCase;
import io.apimatic.core.GlobalConfiguration;
import io.apimatic.coreinterfaces.http.request.MutliPartRequestType;
import io.apimatic.coreinterfaces.http.request.ResponseClassType;
import java.io.IOException;
import java.io.InputStream;
import java.util.concurrent.CompletableFuture;
import java.util.concurrent.CompletionException;

/**
 * This class lists all the endpoints of the groups.
 */
public final class ApisManagementController extends BaseController {

    /**
     * Initializes the controller.
     * @param globalConfig    Configurations added in client.
     */
    public ApisManagementController(GlobalConfiguration globalConfig) {
        super(globalConfig);
    }

    /**
     * Import an API into the APIMatic Dashboard by uploading the API specification file. You can
     * also specify [API Metadata](https://docs.apimatic.io/manage-apis/apimatic-metadata) while
     * importing the API using this endpoint. When specifying Metadata, the uploaded file will be a
     * zip file containing the API specification file and the `APIMATIC-META` json file.
     * @param  contentType  Required parameter: Example:
     * @param  file  Required parameter: The API specification file.&lt;br&gt;The type of the
     *         specification file should be any of the [supported
     *         formats](https://docs.apimatic.io/api-transformer/overview-transformer#supported-input-formats).
     * @return    Returns the ApiEntity wrapped in ApiResponse response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public ApiResponse<ApiEntity> importApiViaFile(
            final ContentType contentType,
            final FileWrapper file) throws ApiException, IOException {
        return prepareImportApiViaFileRequest(contentType, file).execute();
    }

    /**
     * Import an API into the APIMatic Dashboard by uploading the API specification file. You can
     * also specify [API Metadata](https://docs.apimatic.io/manage-apis/apimatic-metadata) while
     * importing the API using this endpoint. When specifying Metadata, the uploaded file will be a
     * zip file containing the API specification file and the `APIMATIC-META` json file.
     * @param  contentType  Required parameter: Example:
     * @param  file  Required parameter: The API specification file.&lt;br&gt;The type of the
     *         specification file should be any of the [supported
     *         formats](https://docs.apimatic.io/api-transformer/overview-transformer#supported-input-formats).
     * @return    Returns the ApiEntity wrapped in ApiResponse response from the API call
     */
    public CompletableFuture<ApiResponse<ApiEntity>> importApiViaFileAsync(
            final ContentType contentType,
            final FileWrapper file) {
        try {
            return prepareImportApiViaFileRequest(contentType, file).executeAsync();
        } catch (Exception e) {
            throw new CompletionException(e);
        }
    }

    /**
     * Builds the ApiCall object for importApiViaFile.
     */
    private ApiCall<ApiResponse<ApiEntity>, ApiException> prepareImportApiViaFileRequest(
            final ContentType contentType,
            final FileWrapper file) {
        return new ApiCall.Builder<ApiResponse<ApiEntity>, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.ENUM_DEFAULT.value())
                        .path("/api-entities/import-via-file")
                        .formParam(param -> param.key("file")
                                .value(file)
                                .multiPartRequestType(MutliPartRequestType.MULTI_PART_FILE)
                                .multipartHeaders("content-type", "application/octect-stream"))
                        .headerParam(param -> param.key("Content-Type")
                                .value((contentType != null) ? contentType.value() : null).isRequired(false))
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .withAuth(auth -> auth
                                .add("Authorization"))
                        .httpMethod(HttpMethod.POST))
                .responseHandler(responseHandler -> responseHandler
                        .responseClassType(ResponseClassType.API_RESPONSE)
                        .apiResponseDeserializer(
                                response -> ApiHelper.deserialize(response, ApiEntity.class))
                        .nullify404(false)
                        .localErrorCase("400",
                                 ErrorCase.setReason("Bad Request",
                                (reason, context) -> new ApiException(reason, context)))
                        .localErrorCase("412",
                                 ErrorCase.setReason("Precondition Failed",
                                (reason, context) -> new ApiException(reason, context)))
                        .localErrorCase("422",
                                 ErrorCase.setReason("Unprocessable Entity",
                                (reason, context) -> new ApiException(reason, context)))
                        .localErrorCase("500",
                                 ErrorCase.setReason("Internal Server Error",
                                (reason, context) -> new ApiException(reason, context)))
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }

    /**
     * Import an API into the APIMatic Dashboard by providing the URL of the API specification file.
     * You can also specify [API Metadata](https://docs.apimatic.io/manage-apis/apimatic-metadata)
     * while importing the API using this endpoint. When specifying Metadata, the URL provided will
     * be that of a zip file containing the API specification file and the `APIMATIC-META` json
     * file.
     * @param  body  Required parameter: Request Body
     * @return    Returns the ApiEntity wrapped in ApiResponse response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public ApiResponse<ApiEntity> importApiViaUrl(
            final ImportApiViaUrlRequest body) throws ApiException, IOException {
        return prepareImportApiViaUrlRequest(body).execute();
    }

    /**
     * Import an API into the APIMatic Dashboard by providing the URL of the API specification file.
     * You can also specify [API Metadata](https://docs.apimatic.io/manage-apis/apimatic-metadata)
     * while importing the API using this endpoint. When specifying Metadata, the URL provided will
     * be that of a zip file containing the API specification file and the `APIMATIC-META` json
     * file.
     * @param  body  Required parameter: Request Body
     * @return    Returns the ApiEntity wrapped in ApiResponse response from the API call
     */
    public CompletableFuture<ApiResponse<ApiEntity>> importApiViaUrlAsync(
            final ImportApiViaUrlRequest body) {
        try {
            return prepareImportApiViaUrlRequest(body).executeAsync();
        } catch (Exception e) {
            throw new CompletionException(e);
        }
    }

    /**
     * Builds the ApiCall object for importApiViaUrl.
     */
    private ApiCall<ApiResponse<ApiEntity>, ApiException> prepareImportApiViaUrlRequest(
            final ImportApiViaUrlRequest body) {
        return new ApiCall.Builder<ApiResponse<ApiEntity>, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.ENUM_DEFAULT.value())
                        .path("/api-entities/import-via-url")
                        .bodyParam(param -> param.value(body))
                        .bodySerializer(() ->  ApiHelper.serialize(body))
                        .headerParam(param -> param.key("Content-Type")
                                .value("application/vnd.apimatic.apiEntityUrlImportDto.v1+json").isRequired(false))
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .withAuth(auth -> auth
                                .add("Authorization"))
                        .httpMethod(HttpMethod.POST))
                .responseHandler(responseHandler -> responseHandler
                        .responseClassType(ResponseClassType.API_RESPONSE)
                        .apiResponseDeserializer(
                                response -> ApiHelper.deserialize(response, ApiEntity.class))
                        .nullify404(false)
                        .localErrorCase("400",
                                 ErrorCase.setReason("Bad Request",
                                (reason, context) -> new ApiException(reason, context)))
                        .localErrorCase("412",
                                 ErrorCase.setReason("Precondition Failed",
                                (reason, context) -> new ApiException(reason, context)))
                        .localErrorCase("422",
                                 ErrorCase.setReason("Unprocessable Entity",
                                (reason, context) -> new ApiException(reason, context)))
                        .localErrorCase("500",
                                 ErrorCase.setReason("Internal Server Error",
                                (reason, context) -> new ApiException(reason, context)))
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }

    /**
     * Import a new version for an API, against an existing API Group, by uploading the API
     * specification file. You can also specify [API
     * Metadata](https://docs.apimatic.io/manage-apis/apimatic-metadata) while importing the API
     * version using this endpoint. When specifying Metadata, the uploaded file will be a zip file
     * containing the API specification file and the `APIMATIC-META` json file.
     * @param  apiGroupId  Required parameter: The ID of the API Group for which to import a new API
     *         version.
     * @param  accept  Required parameter: Example:
     * @param  versionOverride  Required parameter: The version number with which the new API
     *         version will be imported. This version number will override the version specified in
     *         the API specification file.&lt;br&gt;APIMatic recommends versioning the API with the
     *         [versioning scheme](https://docs.apimatic.io/define-apis/basic-settings/#version)
     *         documented in the docs.
     * @param  file  Required parameter: The API specification file.&lt;br&gt;The type of the
     *         specification file should be any of the [supported
     *         formats](https://docs.apimatic.io/api-transformer/overview-transformer#supported-input-formats).
     * @return    Returns the ApiEntity wrapped in ApiResponse response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public ApiResponse<ApiEntity> importNewApiVersionViaFile(
            final String apiGroupId,
            final Accept accept,
            final String versionOverride,
            final FileWrapper file) throws ApiException, IOException {
        return prepareImportNewApiVersionViaFileRequest(apiGroupId, accept, versionOverride,
                file).execute();
    }

    /**
     * Import a new version for an API, against an existing API Group, by uploading the API
     * specification file. You can also specify [API
     * Metadata](https://docs.apimatic.io/manage-apis/apimatic-metadata) while importing the API
     * version using this endpoint. When specifying Metadata, the uploaded file will be a zip file
     * containing the API specification file and the `APIMATIC-META` json file.
     * @param  apiGroupId  Required parameter: The ID of the API Group for which to import a new API
     *         version.
     * @param  accept  Required parameter: Example:
     * @param  versionOverride  Required parameter: The version number with which the new API
     *         version will be imported. This version number will override the version specified in
     *         the API specification file.&lt;br&gt;APIMatic recommends versioning the API with the
     *         [versioning scheme](https://docs.apimatic.io/define-apis/basic-settings/#version)
     *         documented in the docs.
     * @param  file  Required parameter: The API specification file.&lt;br&gt;The type of the
     *         specification file should be any of the [supported
     *         formats](https://docs.apimatic.io/api-transformer/overview-transformer#supported-input-formats).
     * @return    Returns the ApiEntity wrapped in ApiResponse response from the API call
     */
    public CompletableFuture<ApiResponse<ApiEntity>> importNewApiVersionViaFileAsync(
            final String apiGroupId,
            final Accept accept,
            final String versionOverride,
            final FileWrapper file) {
        try {
            return prepareImportNewApiVersionViaFileRequest(apiGroupId, accept, versionOverride,
            file).executeAsync();
        } catch (Exception e) {
            throw new CompletionException(e);
        }
    }

    /**
     * Builds the ApiCall object for importNewApiVersionViaFile.
     */
    private ApiCall<ApiResponse<ApiEntity>, ApiException> prepareImportNewApiVersionViaFileRequest(
            final String apiGroupId,
            final Accept accept,
            final String versionOverride,
            final FileWrapper file) {
        return new ApiCall.Builder<ApiResponse<ApiEntity>, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.ENUM_DEFAULT.value())
                        .path("/api-groups/{api_group_id}/api-entities/import-via-file")
                        .formParam(param -> param.key("version_override")
                                .value(versionOverride))
                        .formParam(param -> param.key("file")
                                .value(file)
                                .multiPartRequestType(MutliPartRequestType.MULTI_PART_FILE)
                                .multipartHeaders("content-type", "application/octect-stream"))
                        .templateParam(param -> param.key("api_group_id").value(apiGroupId)
                                .shouldEncode(true))
                        .headerParam(param -> param.key("Accept")
                                .value((accept != null) ? accept.value() : null).isRequired(false))
                        .withAuth(auth -> auth
                                .add("Authorization"))
                        .httpMethod(HttpMethod.POST))
                .responseHandler(responseHandler -> responseHandler
                        .responseClassType(ResponseClassType.API_RESPONSE)
                        .apiResponseDeserializer(
                                response -> ApiHelper.deserialize(response, ApiEntity.class))
                        .nullify404(false)
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }

    /**
     * Import a new version for an API, against an existing API Group, by providing the URL of the
     * API specification file. You can also specify [API
     * Metadata](https://docs.apimatic.io/manage-apis/apimatic-metadata) while importing the API
     * version using this endpoint. When specifying Metadata, the URL provided will be that of a zip
     * file containing the API specification file and the `APIMATIC-META` json file.
     * @param  apiGroupId  Required parameter: The ID of the API Group for which to import a new API
     *         version.
     * @param  accept  Required parameter: Example:
     * @param  body  Required parameter: Request Body
     * @return    Returns the ApiEntity wrapped in ApiResponse response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public ApiResponse<ApiEntity> importNewApiVersionViaUrl(
            final String apiGroupId,
            final Accept accept,
            final ImportApiVersionViaUrlRequest body) throws ApiException, IOException {
        return prepareImportNewApiVersionViaUrlRequest(apiGroupId, accept, body).execute();
    }

    /**
     * Import a new version for an API, against an existing API Group, by providing the URL of the
     * API specification file. You can also specify [API
     * Metadata](https://docs.apimatic.io/manage-apis/apimatic-metadata) while importing the API
     * version using this endpoint. When specifying Metadata, the URL provided will be that of a zip
     * file containing the API specification file and the `APIMATIC-META` json file.
     * @param  apiGroupId  Required parameter: The ID of the API Group for which to import a new API
     *         version.
     * @param  accept  Required parameter: Example:
     * @param  body  Required parameter: Request Body
     * @return    Returns the ApiEntity wrapped in ApiResponse response from the API call
     */
    public CompletableFuture<ApiResponse<ApiEntity>> importNewApiVersionViaUrlAsync(
            final String apiGroupId,
            final Accept accept,
            final ImportApiVersionViaUrlRequest body) {
        try {
            return prepareImportNewApiVersionViaUrlRequest(apiGroupId, accept, body).executeAsync();
        } catch (Exception e) {
            throw new CompletionException(e);
        }
    }

    /**
     * Builds the ApiCall object for importNewApiVersionViaUrl.
     */
    private ApiCall<ApiResponse<ApiEntity>, ApiException> prepareImportNewApiVersionViaUrlRequest(
            final String apiGroupId,
            final Accept accept,
            final ImportApiVersionViaUrlRequest body) {
        return new ApiCall.Builder<ApiResponse<ApiEntity>, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.ENUM_DEFAULT.value())
                        .path("/api-groups/{api_group_id}/api-entities/import-via-url")
                        .bodyParam(param -> param.value(body))
                        .bodySerializer(() ->  ApiHelper.serialize(body))
                        .templateParam(param -> param.key("api_group_id").value(apiGroupId)
                                .shouldEncode(true))
                        .headerParam(param -> param.key("Accept")
                                .value((accept != null) ? accept.value() : null).isRequired(false))
                        .headerParam(param -> param.key("Content-Type")
                                .value("application/vnd.apimatic.apiGroupApiEntityUrlImportDto.v1+json").isRequired(false))
                        .withAuth(auth -> auth
                                .add("Authorization"))
                        .httpMethod(HttpMethod.POST))
                .responseHandler(responseHandler -> responseHandler
                        .responseClassType(ResponseClassType.API_RESPONSE)
                        .apiResponseDeserializer(
                                response -> ApiHelper.deserialize(response, ApiEntity.class))
                        .nullify404(false)
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }

    /**
     * Replace an API version of an API Group, by uploading the API specification file that will
     * replace the current version. You can also specify [API
     * Metadata](https://docs.apimatic.io/manage-apis/apimatic-metadata) while importing the API
     * version using this endpoint. When specifying Metadata, the uploaded file will be a zip file
     * containing the API specification file and the `APIMATIC-META` json file.
     * @param  apiEntityId  Required parameter: The ID of the API Entity to replace.
     * @param  accept  Required parameter: Example:
     * @param  file  Required parameter: The API specification file.&lt;br&gt;The type of the
     *         specification file should be any of the [supported
     *         formats](https://docs.apimatic.io/api-transformer/overview-transformer#supported-input-formats).
     * @return    Returns the Void wrapped in ApiResponse response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public ApiResponse<Void> inplaceApiImportViaFile(
            final String apiEntityId,
            final Accept2 accept,
            final FileWrapper file) throws ApiException, IOException {
        return prepareInplaceApiImportViaFileRequest(apiEntityId, accept, file).execute();
    }

    /**
     * Replace an API version of an API Group, by uploading the API specification file that will
     * replace the current version. You can also specify [API
     * Metadata](https://docs.apimatic.io/manage-apis/apimatic-metadata) while importing the API
     * version using this endpoint. When specifying Metadata, the uploaded file will be a zip file
     * containing the API specification file and the `APIMATIC-META` json file.
     * @param  apiEntityId  Required parameter: The ID of the API Entity to replace.
     * @param  accept  Required parameter: Example:
     * @param  file  Required parameter: The API specification file.&lt;br&gt;The type of the
     *         specification file should be any of the [supported
     *         formats](https://docs.apimatic.io/api-transformer/overview-transformer#supported-input-formats).
     * @return    Returns the Void wrapped in ApiResponse response from the API call
     */
    public CompletableFuture<ApiResponse<Void>> inplaceApiImportViaFileAsync(
            final String apiEntityId,
            final Accept2 accept,
            final FileWrapper file) {
        try {
            return prepareInplaceApiImportViaFileRequest(apiEntityId, accept, file).executeAsync();
        } catch (Exception e) {
            throw new CompletionException(e);
        }
    }

    /**
     * Builds the ApiCall object for inplaceApiImportViaFile.
     */
    private ApiCall<ApiResponse<Void>, ApiException> prepareInplaceApiImportViaFileRequest(
            final String apiEntityId,
            final Accept2 accept,
            final FileWrapper file) {
        return new ApiCall.Builder<ApiResponse<Void>, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.ENUM_DEFAULT.value())
                        .path("/api-entities/{api_entity_id}/import-via-file")
                        .formParam(param -> param.key("file")
                                .value(file)
                                .multiPartRequestType(MutliPartRequestType.MULTI_PART_FILE)
                                .multipartHeaders("content-type", "application/octect-stream"))
                        .templateParam(param -> param.key("api_entity_id").value(apiEntityId)
                                .shouldEncode(true))
                        .headerParam(param -> param.key("Accept")
                                .value((accept != null) ? accept.value() : null).isRequired(false))
                        .withAuth(auth -> auth
                                .add("Authorization"))
                        .httpMethod(HttpMethod.PUT))
                .responseHandler(responseHandler -> responseHandler
                        .responseClassType(ResponseClassType.API_RESPONSE)
                        .nullify404(false)
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }

    /**
     * Replace an API version of an API Group, by providing the URL of the API specification file
     * that will replace the current version. You can also specify [API
     * Metadata](https://docs.apimatic.io/manage-apis/apimatic-metadata) while importing the API
     * version using this endpoint. When specifying Metadata, the URL provided will be that of a zip
     * file containing the API specification file and the `APIMATIC-META` json file.
     * @param  apiEntityId  Required parameter: The ID of the API Entity to replace.
     * @param  body  Required parameter: Request Body
     * @return    Returns the Void wrapped in ApiResponse response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public ApiResponse<Void> inplaceApiImportViaUrl(
            final String apiEntityId,
            final InplaceImportApiViaUrlRequest body) throws ApiException, IOException {
        return prepareInplaceApiImportViaUrlRequest(apiEntityId, body).execute();
    }

    /**
     * Replace an API version of an API Group, by providing the URL of the API specification file
     * that will replace the current version. You can also specify [API
     * Metadata](https://docs.apimatic.io/manage-apis/apimatic-metadata) while importing the API
     * version using this endpoint. When specifying Metadata, the URL provided will be that of a zip
     * file containing the API specification file and the `APIMATIC-META` json file.
     * @param  apiEntityId  Required parameter: The ID of the API Entity to replace.
     * @param  body  Required parameter: Request Body
     * @return    Returns the Void wrapped in ApiResponse response from the API call
     */
    public CompletableFuture<ApiResponse<Void>> inplaceApiImportViaUrlAsync(
            final String apiEntityId,
            final InplaceImportApiViaUrlRequest body) {
        try {
            return prepareInplaceApiImportViaUrlRequest(apiEntityId, body).executeAsync();
        } catch (Exception e) {
            throw new CompletionException(e);
        }
    }

    /**
     * Builds the ApiCall object for inplaceApiImportViaUrl.
     */
    private ApiCall<ApiResponse<Void>, ApiException> prepareInplaceApiImportViaUrlRequest(
            final String apiEntityId,
            final InplaceImportApiViaUrlRequest body) {
        return new ApiCall.Builder<ApiResponse<Void>, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.ENUM_DEFAULT.value())
                        .path("/api-entities/{api_entity_id}/import-via-url")
                        .bodyParam(param -> param.value(body))
                        .bodySerializer(() ->  ApiHelper.serialize(body))
                        .templateParam(param -> param.key("api_entity_id").value(apiEntityId)
                                .shouldEncode(true))
                        .headerParam(param -> param.key("Content-Type")
                                .value("application/vnd.apimatic.apiEntityUrlImportDto.v1+json").isRequired(false))
                        .withAuth(auth -> auth
                                .add("Authorization"))
                        .httpMethod(HttpMethod.PUT))
                .responseHandler(responseHandler -> responseHandler
                        .responseClassType(ResponseClassType.API_RESPONSE)
                        .nullify404(false)
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }

    /**
     * Fetch an API Entity.
     * @param  apiEntityId  Required parameter: The ID of the API Entity to fetch.
     * @return    Returns the ApiEntity wrapped in ApiResponse response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public ApiResponse<ApiEntity> fetchApiEntity(
            final String apiEntityId) throws ApiException, IOException {
        return prepareFetchApiEntityRequest(apiEntityId).execute();
    }

    /**
     * Fetch an API Entity.
     * @param  apiEntityId  Required parameter: The ID of the API Entity to fetch.
     * @return    Returns the ApiEntity wrapped in ApiResponse response from the API call
     */
    public CompletableFuture<ApiResponse<ApiEntity>> fetchApiEntityAsync(
            final String apiEntityId) {
        try {
            return prepareFetchApiEntityRequest(apiEntityId).executeAsync();
        } catch (Exception e) {
            throw new CompletionException(e);
        }
    }

    /**
     * Builds the ApiCall object for fetchApiEntity.
     */
    private ApiCall<ApiResponse<ApiEntity>, ApiException> prepareFetchApiEntityRequest(
            final String apiEntityId) {
        return new ApiCall.Builder<ApiResponse<ApiEntity>, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.ENUM_DEFAULT.value())
                        .path("/api-entities/{api_entity_id}")
                        .templateParam(param -> param.key("api_entity_id").value(apiEntityId)
                                .shouldEncode(true))
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .withAuth(auth -> auth
                                .add("Authorization"))
                        .httpMethod(HttpMethod.GET))
                .responseHandler(responseHandler -> responseHandler
                        .responseClassType(ResponseClassType.API_RESPONSE)
                        .apiResponseDeserializer(
                                response -> ApiHelper.deserialize(response, ApiEntity.class))
                        .nullify404(false)
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }

    /**
     * Download the API Specification file for a an API Version in any of the API Specification
     * formats supported by APIMatic.
     * @param  apiEntityId  Required parameter: The ID of the API Entity to download.
     * @param  format  Required parameter: The format in which to download the API.&lt;br&gt;The
     *         format can be any of the [supported
     *         formats](https://docs.apimatic.io/api-transformer/overview-transformer#supported-input-formats).
     * @return    Returns the InputStream wrapped in ApiResponse response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public ApiResponse<InputStream> downloadApiSpecification(
            final String apiEntityId,
            final ExportFormats format) throws ApiException, IOException {
        return prepareDownloadApiSpecificationRequest(apiEntityId, format).execute();
    }

    /**
     * Download the API Specification file for a an API Version in any of the API Specification
     * formats supported by APIMatic.
     * @param  apiEntityId  Required parameter: The ID of the API Entity to download.
     * @param  format  Required parameter: The format in which to download the API.&lt;br&gt;The
     *         format can be any of the [supported
     *         formats](https://docs.apimatic.io/api-transformer/overview-transformer#supported-input-formats).
     * @return    Returns the InputStream wrapped in ApiResponse response from the API call
     */
    public CompletableFuture<ApiResponse<InputStream>> downloadApiSpecificationAsync(
            final String apiEntityId,
            final ExportFormats format) {
        try {
            return prepareDownloadApiSpecificationRequest(apiEntityId, format).executeAsync();
        } catch (Exception e) {
            throw new CompletionException(e);
        }
    }

    /**
     * Builds the ApiCall object for downloadApiSpecification.
     */
    private ApiCall<ApiResponse<InputStream>, ApiException> prepareDownloadApiSpecificationRequest(
            final String apiEntityId,
            final ExportFormats format) {
        return new ApiCall.Builder<ApiResponse<InputStream>, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.ENUM_DEFAULT.value())
                        .path("/api-entities/{api_entity_id}/api-description")
                        .queryParam(param -> param.key("format")
                                .value((format != null) ? format.value() : null))
                        .templateParam(param -> param.key("api_entity_id").value(apiEntityId)
                                .shouldEncode(true))
                        .withAuth(auth -> auth
                                .add("Authorization"))
                        .httpMethod(HttpMethod.GET))
                .responseHandler(responseHandler -> responseHandler
                        .responseClassType(ResponseClassType.API_RESPONSE)
                        .nullify404(false)
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .endpointConfiguration(param -> param
                                .hasBinaryResponse(true))
                .build();
    }
}