/*
 * ApimaticApiLib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

package io.apimatic.api.controllers;

import io.apimatic.api.ApiHelper;
import io.apimatic.api.Server;
import io.apimatic.api.exceptions.ApiException;
import io.apimatic.api.exceptions.InternalServerErrorResponseException;
import io.apimatic.api.exceptions.ProblemDetailsException;
import io.apimatic.api.exceptions.UnauthorizedResponseException;
import io.apimatic.api.http.request.HttpMethod;
import io.apimatic.api.http.response.ApiResponse;
import io.apimatic.api.models.ContentType;
import io.apimatic.api.models.ValidateApiResult;
import io.apimatic.api.utilities.FileWrapper;
import io.apimatic.core.ApiCall;
import io.apimatic.core.ErrorCase;
import io.apimatic.core.GlobalConfiguration;
import io.apimatic.coreinterfaces.http.request.MutliPartRequestType;
import io.apimatic.coreinterfaces.http.request.ResponseClassType;
import java.io.IOException;
import java.util.concurrent.CompletableFuture;
import java.util.concurrent.CompletionException;

/**
 * This class lists all the endpoints of the groups.
 */
public final class ApiValidationV2ExternalApisController extends BaseController {

    /**
     * Initializes the controller.
     * @param globalConfig    Configurations added in client.
     */
    public ApiValidationV2ExternalApisController(GlobalConfiguration globalConfig) {
        super(globalConfig);
    }

    /**
     * Validate an API by uploading the API specification file. You can also specify [API
     * Metadata](https://docs.apimatic.io/manage-apis/apimatic-metadata) while validating the API
     * using this endpoint. When specifying Metadata, the uploaded file will be a zip file
     * containing the API specification file and the `APIMATIC-META` json file.
     * @param  contentType  Required parameter: Example:
     * @param  file  Required parameter: The API specification file.&lt;br&gt;The type of the
     *         specification file should be any of the [supported
     *         formats](https://docs.apimatic.io/api-transformer/overview-transformer#supported-input-formats).
     * @return    Returns the ValidateApiResult wrapped in ApiResponse response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public ApiResponse<ValidateApiResult> validateApiViaFileV2(
            final ContentType contentType,
            final FileWrapper file) throws ApiException, IOException {
        return prepareValidateApiViaFileV2Request(contentType, file).execute();
    }

    /**
     * Validate an API by uploading the API specification file. You can also specify [API
     * Metadata](https://docs.apimatic.io/manage-apis/apimatic-metadata) while validating the API
     * using this endpoint. When specifying Metadata, the uploaded file will be a zip file
     * containing the API specification file and the `APIMATIC-META` json file.
     * @param  contentType  Required parameter: Example:
     * @param  file  Required parameter: The API specification file.&lt;br&gt;The type of the
     *         specification file should be any of the [supported
     *         formats](https://docs.apimatic.io/api-transformer/overview-transformer#supported-input-formats).
     * @return    Returns the ValidateApiResult wrapped in ApiResponse response from the API call
     */
    public CompletableFuture<ApiResponse<ValidateApiResult>> validateApiViaFileV2Async(
            final ContentType contentType,
            final FileWrapper file) {
        try {
            return prepareValidateApiViaFileV2Request(contentType, file).executeAsync();
        } catch (Exception e) {
            throw new CompletionException(e);
        }
    }

    /**
     * Builds the ApiCall object for validateApiViaFileV2.
     */
    private ApiCall<ApiResponse<ValidateApiResult>, ApiException> prepareValidateApiViaFileV2Request(
            final ContentType contentType,
            final FileWrapper file) {
        return new ApiCall.Builder<ApiResponse<ValidateApiResult>, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.ENUM_DEFAULT.value())
                        .path("/validation/v2/validate-via-file")
                        .formParam(param -> param.key("file")
                                .value(file)
                                .multiPartRequestType(MutliPartRequestType.MULTI_PART_FILE)
                                .multipartHeaders("content-type", "application/octect-stream"))
                        .headerParam(param -> param.key("Content-Type")
                                .value((contentType != null) ? contentType.value() : null).isRequired(false))
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .withAuth(auth -> auth
                                .add("Authorization"))
                        .httpMethod(HttpMethod.POST))
                .responseHandler(responseHandler -> responseHandler
                        .responseClassType(ResponseClassType.API_RESPONSE)
                        .apiResponseDeserializer(
                                response -> ApiHelper.deserialize(response, ValidateApiResult.class))
                        .nullify404(false)
                        .localErrorCase("400",
                                 ErrorCase.setReason("Bad Request",
                                (reason, context) -> new ProblemDetailsException(reason, context)))
                        .localErrorCase("401",
                                 ErrorCase.setReason("Unauthorized",
                                (reason, context) -> new UnauthorizedResponseException(reason, context)))
                        .localErrorCase("403",
                                 ErrorCase.setReason("Subscription Issue",
                                (reason, context) -> new ProblemDetailsException(reason, context)))
                        .localErrorCase("500",
                                 ErrorCase.setReason("Internal Server Error",
                                (reason, context) -> new InternalServerErrorResponseException(reason, context)))
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }

    /**
     * Validate an API by providing the URL of the API specification file. You can also specify [API
     * Metadata](https://docs.apimatic.io/manage-apis/apimatic-metadata) while validating the API
     * using this endpoint. When specifying Metadata, the URL provided will be that of a zip file
     * containing the API specification file and the `APIMATIC-META` json file.
     * @param  url  Required parameter: The URL for the API specification
     *         file.&lt;br&gt;&lt;br&gt;**Note:** This URL should be publicly accessible.
     * @return    Returns the ValidateApiResult wrapped in ApiResponse response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public ApiResponse<ValidateApiResult> validateApiViaUrlV2(
            final String url) throws ApiException, IOException {
        return prepareValidateApiViaUrlV2Request(url).execute();
    }

    /**
     * Validate an API by providing the URL of the API specification file. You can also specify [API
     * Metadata](https://docs.apimatic.io/manage-apis/apimatic-metadata) while validating the API
     * using this endpoint. When specifying Metadata, the URL provided will be that of a zip file
     * containing the API specification file and the `APIMATIC-META` json file.
     * @param  url  Required parameter: The URL for the API specification
     *         file.&lt;br&gt;&lt;br&gt;**Note:** This URL should be publicly accessible.
     * @return    Returns the ValidateApiResult wrapped in ApiResponse response from the API call
     */
    public CompletableFuture<ApiResponse<ValidateApiResult>> validateApiViaUrlV2Async(
            final String url) {
        try {
            return prepareValidateApiViaUrlV2Request(url).executeAsync();
        } catch (Exception e) {
            throw new CompletionException(e);
        }
    }

    /**
     * Builds the ApiCall object for validateApiViaUrlV2.
     */
    private ApiCall<ApiResponse<ValidateApiResult>, ApiException> prepareValidateApiViaUrlV2Request(
            final String url) {
        return new ApiCall.Builder<ApiResponse<ValidateApiResult>, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.ENUM_DEFAULT.value())
                        .path("/validation/v2/validate-via-url")
                        .queryParam(param -> param.key("url")
                                .value(url))
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .withAuth(auth -> auth
                                .add("Authorization"))
                        .httpMethod(HttpMethod.GET))
                .responseHandler(responseHandler -> responseHandler
                        .responseClassType(ResponseClassType.API_RESPONSE)
                        .apiResponseDeserializer(
                                response -> ApiHelper.deserialize(response, ValidateApiResult.class))
                        .nullify404(false)
                        .localErrorCase("400",
                                 ErrorCase.setReason("Bad Request",
                                (reason, context) -> new ProblemDetailsException(reason, context)))
                        .localErrorCase("401",
                                 ErrorCase.setReason("Unauthorized",
                                (reason, context) -> new UnauthorizedResponseException(reason, context)))
                        .localErrorCase("403",
                                 ErrorCase.setReason("Subscription Issue",
                                (reason, context) -> new ProblemDetailsException(reason, context)))
                        .localErrorCase("500",
                                 ErrorCase.setReason("Internal Server Error",
                                (reason, context) -> new InternalServerErrorResponseException(reason, context)))
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }
}