/*
 * ApimaticApiLib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

package io.apimatic.api.controllers;

import io.apimatic.api.ApiHelper;
import io.apimatic.api.Server;
import io.apimatic.api.exceptions.ApiException;
import io.apimatic.api.http.request.HttpMethod;
import io.apimatic.api.http.response.ApiResponse;
import io.apimatic.api.models.ApiValidationSummary;
import io.apimatic.api.models.DocsValidationSummary;
import io.apimatic.core.ApiCall;
import io.apimatic.core.ErrorCase;
import io.apimatic.core.GlobalConfiguration;
import io.apimatic.coreinterfaces.http.request.ResponseClassType;
import java.io.IOException;
import java.util.concurrent.CompletableFuture;
import java.util.concurrent.CompletionException;

/**
 * This class lists all the endpoints of the groups.
 */
public final class ApiValidationImportedApisController extends BaseController {

    /**
     * Initializes the controller.
     * @param globalConfig    Configurations added in client.
     */
    public ApiValidationImportedApisController(GlobalConfiguration globalConfig) {
        super(globalConfig);
    }

    /**
     * Validate an API using the [APIMatic
     * Validator](https://docs.apimatic.io/generate-sdks/overview-sdks#step-2-api-validation).
     * @param  apiEntityId  Required parameter: The ID of the API Entity to perform validation for.
     * @return    Returns the ApiValidationSummary wrapped in ApiResponse response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public ApiResponse<ApiValidationSummary> validateApi(
            final String apiEntityId) throws ApiException, IOException {
        return prepareValidateApiRequest(apiEntityId).execute();
    }

    /**
     * Validate an API using the [APIMatic
     * Validator](https://docs.apimatic.io/generate-sdks/overview-sdks#step-2-api-validation).
     * @param  apiEntityId  Required parameter: The ID of the API Entity to perform validation for.
     * @return    Returns the ApiValidationSummary wrapped in ApiResponse response from the API call
     */
    public CompletableFuture<ApiResponse<ApiValidationSummary>> validateApiAsync(
            final String apiEntityId) {
        try {
            return prepareValidateApiRequest(apiEntityId).executeAsync();
        } catch (Exception e) {
            throw new CompletionException(e);
        }
    }

    /**
     * Builds the ApiCall object for validateApi.
     */
    private ApiCall<ApiResponse<ApiValidationSummary>, ApiException> prepareValidateApiRequest(
            final String apiEntityId) {
        return new ApiCall.Builder<ApiResponse<ApiValidationSummary>, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.ENUM_DEFAULT.value())
                        .path("/api-entities/{api_entity_id}/api-validation-summary")
                        .templateParam(param -> param.key("api_entity_id").value(apiEntityId)
                                .shouldEncode(true))
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .withAuth(auth -> auth
                                .add("Authorization"))
                        .httpMethod(HttpMethod.GET))
                .responseHandler(responseHandler -> responseHandler
                        .responseClassType(ResponseClassType.API_RESPONSE)
                        .apiResponseDeserializer(
                                response -> ApiHelper.deserialize(response, ApiValidationSummary.class))
                        .nullify404(false)
                        .localErrorCase("400",
                                 ErrorCase.setReason("Bad Request",
                                (reason, context) -> new ApiException(reason, context)))
                        .localErrorCase("403",
                                 ErrorCase.setReason("Forbidden",
                                (reason, context) -> new ApiException(reason, context)))
                        .localErrorCase("404",
                                 ErrorCase.setReason("API not found",
                                (reason, context) -> new ApiException(reason, context)))
                        .localErrorCase("500",
                                 ErrorCase.setReason("Internal Server Error",
                                (reason, context) -> new ApiException(reason, context)))
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }

    /**
     * Validate an API for documentation generation. This process validates the API for missing
     * examples or missing descriptions.
     * @param  apiEntityId  Required parameter: The ID of the API Entity to perform validation for.
     * @return    Returns the DocsValidationSummary wrapped in ApiResponse response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public ApiResponse<DocsValidationSummary> validateApiForDocs(
            final String apiEntityId) throws ApiException, IOException {
        return prepareValidateApiForDocsRequest(apiEntityId).execute();
    }

    /**
     * Validate an API for documentation generation. This process validates the API for missing
     * examples or missing descriptions.
     * @param  apiEntityId  Required parameter: The ID of the API Entity to perform validation for.
     * @return    Returns the DocsValidationSummary wrapped in ApiResponse response from the API call
     */
    public CompletableFuture<ApiResponse<DocsValidationSummary>> validateApiForDocsAsync(
            final String apiEntityId) {
        try {
            return prepareValidateApiForDocsRequest(apiEntityId).executeAsync();
        } catch (Exception e) {
            throw new CompletionException(e);
        }
    }

    /**
     * Builds the ApiCall object for validateApiForDocs.
     */
    private ApiCall<ApiResponse<DocsValidationSummary>, ApiException> prepareValidateApiForDocsRequest(
            final String apiEntityId) {
        return new ApiCall.Builder<ApiResponse<DocsValidationSummary>, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.ENUM_DEFAULT.value())
                        .path("/api-entities/{api_entity_id}/docs-validation-summary")
                        .templateParam(param -> param.key("api_entity_id").value(apiEntityId)
                                .shouldEncode(true))
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .withAuth(auth -> auth
                                .add("Authorization"))
                        .httpMethod(HttpMethod.GET))
                .responseHandler(responseHandler -> responseHandler
                        .responseClassType(ResponseClassType.API_RESPONSE)
                        .apiResponseDeserializer(
                                response -> ApiHelper.deserialize(response, DocsValidationSummary.class))
                        .nullify404(false)
                        .localErrorCase("400",
                                 ErrorCase.setReason("Bad Request",
                                (reason, context) -> new ApiException(reason, context)))
                        .localErrorCase("403",
                                 ErrorCase.setReason("Forbidden",
                                (reason, context) -> new ApiException(reason, context)))
                        .localErrorCase("404",
                                 ErrorCase.setReason("API not found",
                                (reason, context) -> new ApiException(reason, context)))
                        .localErrorCase("500",
                                 ErrorCase.setReason("Internal Server Error",
                                (reason, context) -> new ApiException(reason, context)))
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }
}