/*
 * ApimaticApiLib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

package io.apimatic.api.controllers;

import io.apimatic.api.ApiHelper;
import io.apimatic.api.Server;
import io.apimatic.api.exceptions.ApiException;
import io.apimatic.api.exceptions.BadRequestResponseSdkException;
import io.apimatic.api.exceptions.ProblemDetailsException;
import io.apimatic.api.exceptions.UnauthorizedResponseException;
import io.apimatic.api.http.request.HttpMethod;
import io.apimatic.api.http.response.ApiResponse;
import io.apimatic.api.models.Accept;
import io.apimatic.api.models.GenerateSdkViaUrlRequest;
import io.apimatic.api.models.Platforms;
import io.apimatic.api.models.UserCodeGeneration;
import io.apimatic.api.utilities.FileWrapper;
import io.apimatic.core.ApiCall;
import io.apimatic.core.ErrorCase;
import io.apimatic.core.GlobalConfiguration;
import io.apimatic.coreinterfaces.http.request.MutliPartRequestType;
import io.apimatic.coreinterfaces.http.request.ResponseClassType;
import java.io.IOException;
import java.io.InputStream;
import java.util.List;
import java.util.Map;
import java.util.concurrent.CompletableFuture;
import java.util.concurrent.CompletionException;

/**
 * This class lists all the endpoints of the groups.
 */
public final class CodeGenerationExternalApisController extends BaseController {

    /**
     * Initializes the controller.
     * @param globalConfig    Configurations added in client.
     */
    public CodeGenerationExternalApisController(GlobalConfiguration globalConfig) {
        super(globalConfig);
    }

    /**
     * Generate an SDK for an API by by uploading the API specification file. This endpoint
     * generates and then uploads the generated SDK to APIMatic's cloud storage. An ID for the
     * generation performed is returned as part of the response. This endpoint does not import an
     * API into APIMatic.
     * @param  accept  Required parameter: Must be set to 'application/json' to ensure JSON response
     *         format
     * @param  file  Required parameter: The API specification file.&lt;br&gt;The type of the
     *         specification file should be any of the [supported
     *         formats](https://docs.apimatic.io/api-transformer/overview-transformer#supported-input-formats).
     * @param  template  Required parameter: The structure contains platforms that APIMatic CodeGen
     *         can generate SDKs and Docs in.
     * @param    queryParameters    Additional optional query parameters are supported by this endpoint
     * @return    Returns the UserCodeGeneration wrapped in ApiResponse response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public ApiResponse<UserCodeGeneration> generateSdkViaFile(
            final Accept accept,
            final FileWrapper file,
            final Platforms template,
            final Map<String, Object> queryParameters) throws ApiException, IOException {
        return prepareGenerateSdkViaFileRequest(accept, file, template, queryParameters).execute();
    }

    /**
     * Generate an SDK for an API by by uploading the API specification file. This endpoint
     * generates and then uploads the generated SDK to APIMatic's cloud storage. An ID for the
     * generation performed is returned as part of the response. This endpoint does not import an
     * API into APIMatic.
     * @param  accept  Required parameter: Must be set to 'application/json' to ensure JSON response
     *         format
     * @param  file  Required parameter: The API specification file.&lt;br&gt;The type of the
     *         specification file should be any of the [supported
     *         formats](https://docs.apimatic.io/api-transformer/overview-transformer#supported-input-formats).
     * @param  template  Required parameter: The structure contains platforms that APIMatic CodeGen
     *         can generate SDKs and Docs in.
     * @param    queryParameters    Additional optional query parameters are supported by this endpoint
     * @return    Returns the UserCodeGeneration wrapped in ApiResponse response from the API call
     */
    public CompletableFuture<ApiResponse<UserCodeGeneration>> generateSdkViaFileAsync(
            final Accept accept,
            final FileWrapper file,
            final Platforms template,
            final Map<String, Object> queryParameters) {
        try {
            return prepareGenerateSdkViaFileRequest(accept, file, template, queryParameters).executeAsync();
        } catch (Exception e) {
            throw new CompletionException(e);
        }
    }

    /**
     * Builds the ApiCall object for generateSdkViaFile.
     */
    private ApiCall<ApiResponse<UserCodeGeneration>, ApiException> prepareGenerateSdkViaFileRequest(
            final Accept accept,
            final FileWrapper file,
            final Platforms template,
            final Map<String, Object> queryParameters) {
        return new ApiCall.Builder<ApiResponse<UserCodeGeneration>, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.ENUM_DEFAULT.value())
                        .path("/code-generations/generate-via-file")
                        .formParam(param -> param.key("file")
                                .value(file)
                                .multiPartRequestType(MutliPartRequestType.MULTI_PART_FILE)
                                .multipartHeaders("content-type", "application/octect-stream"))
                        .formParam(param -> param.key("template")
                                .value((template != null) ? template.value() : "CS_NET_STANDARD_LIB"))
                        .headerParam(param -> param.key("Accept")
                                .value((accept != null) ? accept.value() : "application/json").isRequired(false))
                        .withAuth(auth -> auth
                                .add("Authorization"))
                        .httpMethod(HttpMethod.POST))
                .responseHandler(responseHandler -> responseHandler
                        .responseClassType(ResponseClassType.API_RESPONSE)
                        .apiResponseDeserializer(
                                response -> ApiHelper.deserialize(response, UserCodeGeneration.class))
                        .nullify404(false)
                        .localErrorCase("400",
                                 ErrorCase.setReason("Bad Request",
                                (reason, context) -> new BadRequestResponseSdkException(reason, context)))
                        .localErrorCase("401",
                                 ErrorCase.setReason("Unauthorized",
                                (reason, context) -> new UnauthorizedResponseException(reason, context)))
                        .localErrorCase("403",
                                 ErrorCase.setReason("Subscription Issue",
                                (reason, context) -> new ProblemDetailsException(reason, context)))
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }

    /**
     * Generate an SDK for an API by providing the URL of the API specification file. This endpoint
     * generates and then uploads the generated SDK to APIMatic's cloud storage. An ID for the
     * generation performed is returned as part of the response. This endpoint does not import an
     * API into APIMatic.
     * @param  body  Required parameter: Request Body
     * @return    Returns the UserCodeGeneration wrapped in ApiResponse response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public ApiResponse<UserCodeGeneration> generateSdkViaUrl(
            final GenerateSdkViaUrlRequest body) throws ApiException, IOException {
        return prepareGenerateSdkViaUrlRequest(body).execute();
    }

    /**
     * Generate an SDK for an API by providing the URL of the API specification file. This endpoint
     * generates and then uploads the generated SDK to APIMatic's cloud storage. An ID for the
     * generation performed is returned as part of the response. This endpoint does not import an
     * API into APIMatic.
     * @param  body  Required parameter: Request Body
     * @return    Returns the UserCodeGeneration wrapped in ApiResponse response from the API call
     */
    public CompletableFuture<ApiResponse<UserCodeGeneration>> generateSdkViaUrlAsync(
            final GenerateSdkViaUrlRequest body) {
        try {
            return prepareGenerateSdkViaUrlRequest(body).executeAsync();
        } catch (Exception e) {
            throw new CompletionException(e);
        }
    }

    /**
     * Builds the ApiCall object for generateSdkViaUrl.
     */
    private ApiCall<ApiResponse<UserCodeGeneration>, ApiException> prepareGenerateSdkViaUrlRequest(
            final GenerateSdkViaUrlRequest body) {
        return new ApiCall.Builder<ApiResponse<UserCodeGeneration>, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.ENUM_DEFAULT.value())
                        .path("/code-generations/generate-via-url")
                        .bodyParam(param -> param.value(body))
                        .bodySerializer(() ->  ApiHelper.serialize(body))
                        .headerParam(param -> param.key("Content-Type")
                                .value("application/vnd.apimatic.userCodeGenerationDto.v1+json").isRequired(false))
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .withAuth(auth -> auth
                                .add("Authorization"))
                        .httpMethod(HttpMethod.POST))
                .responseHandler(responseHandler -> responseHandler
                        .responseClassType(ResponseClassType.API_RESPONSE)
                        .apiResponseDeserializer(
                                response -> ApiHelper.deserialize(response, UserCodeGeneration.class))
                        .nullify404(false)
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }

    /**
     * Download the SDK generated via the Generate SDK endpoints.
     * @param  codegenId  Required parameter: The ID of code generation received in the response of
     *         the [Generate SDK Via
     *         File]($e/Code%20Generation%20-%20External%20APIs/Generate%20SDK%20via%20File) or
     *         [Generate SDK Via URL
     *         ]($e/Code%20Generation%20-%20External%20APIs/Generate%20SDK%20via%20URL) calls.
     * @return    Returns the InputStream wrapped in ApiResponse response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public ApiResponse<InputStream> downloadSdk(
            final String codegenId) throws ApiException, IOException {
        return prepareDownloadSdkRequest(codegenId).execute();
    }

    /**
     * Download the SDK generated via the Generate SDK endpoints.
     * @param  codegenId  Required parameter: The ID of code generation received in the response of
     *         the [Generate SDK Via
     *         File]($e/Code%20Generation%20-%20External%20APIs/Generate%20SDK%20via%20File) or
     *         [Generate SDK Via URL
     *         ]($e/Code%20Generation%20-%20External%20APIs/Generate%20SDK%20via%20URL) calls.
     * @return    Returns the InputStream wrapped in ApiResponse response from the API call
     */
    public CompletableFuture<ApiResponse<InputStream>> downloadSdkAsync(
            final String codegenId) {
        try {
            return prepareDownloadSdkRequest(codegenId).executeAsync();
        } catch (Exception e) {
            throw new CompletionException(e);
        }
    }

    /**
     * Builds the ApiCall object for downloadSdk.
     */
    private ApiCall<ApiResponse<InputStream>, ApiException> prepareDownloadSdkRequest(
            final String codegenId) {
        return new ApiCall.Builder<ApiResponse<InputStream>, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.ENUM_DEFAULT.value())
                        .path("/code-generations/{codegen_id}/generated-sdk")
                        .templateParam(param -> param.key("codegen_id").value(codegenId)
                                .shouldEncode(true))
                        .withAuth(auth -> auth
                                .add("Authorization"))
                        .httpMethod(HttpMethod.GET))
                .responseHandler(responseHandler -> responseHandler
                        .responseClassType(ResponseClassType.API_RESPONSE)
                        .nullify404(false)
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .endpointConfiguration(param -> param
                                .hasBinaryResponse(true))
                .build();
    }

    /**
     * Get a list of all SDK generations performed with external APIs via the Generate SDK
     * endpoints.
     * @return    Returns the List of UserCodeGeneration wrapped in ApiResponse response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public ApiResponse<List<UserCodeGeneration>> listAllCodeGenerations() throws ApiException, IOException {
        return prepareListAllCodeGenerationsRequest().execute();
    }

    /**
     * Get a list of all SDK generations performed with external APIs via the Generate SDK
     * endpoints.
     * @return    Returns the List of UserCodeGeneration wrapped in ApiResponse response from the API call
     */
    public CompletableFuture<ApiResponse<List<UserCodeGeneration>>> listAllCodeGenerationsAsync() {
        try {
            return prepareListAllCodeGenerationsRequest().executeAsync();
        } catch (Exception e) {
            throw new CompletionException(e);
        }
    }

    /**
     * Builds the ApiCall object for listAllCodeGenerations.
     */
    private ApiCall<ApiResponse<List<UserCodeGeneration>>, ApiException> prepareListAllCodeGenerationsRequest() {
        return new ApiCall.Builder<ApiResponse<List<UserCodeGeneration>>, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.ENUM_DEFAULT.value())
                        .path("/code-generations")
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .withAuth(auth -> auth
                                .add("Authorization"))
                        .httpMethod(HttpMethod.GET))
                .responseHandler(responseHandler -> responseHandler
                        .responseClassType(ResponseClassType.API_RESPONSE)
                        .apiResponseDeserializer(
                                response -> ApiHelper.deserializeArray(response,
                                        UserCodeGeneration[].class))
                        .nullify404(false)
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }

    /**
     * Download the API Specification file used as input for a specific SDK generation performed via
     * the Generate SDK endpoints.
     * @param  codegenId  Required parameter: The ID of the code generation to download the API
     *         specification for. The code generation ID is received in the response of the
     *         [Generate SDK Via
     *         File]($e/Code%20Generation%20-%20External%20APIs/Generate%20SDK%20via%20File) or
     *         [Generate SDK Via URL
     *         ]($e/Code%20Generation%20-%20External%20APIs/Generate%20SDK%20via%20URL) calls
     * @return    Returns the InputStream wrapped in ApiResponse response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public ApiResponse<InputStream> downloadInputFile(
            final String codegenId) throws ApiException, IOException {
        return prepareDownloadInputFileRequest(codegenId).execute();
    }

    /**
     * Download the API Specification file used as input for a specific SDK generation performed via
     * the Generate SDK endpoints.
     * @param  codegenId  Required parameter: The ID of the code generation to download the API
     *         specification for. The code generation ID is received in the response of the
     *         [Generate SDK Via
     *         File]($e/Code%20Generation%20-%20External%20APIs/Generate%20SDK%20via%20File) or
     *         [Generate SDK Via URL
     *         ]($e/Code%20Generation%20-%20External%20APIs/Generate%20SDK%20via%20URL) calls
     * @return    Returns the InputStream wrapped in ApiResponse response from the API call
     */
    public CompletableFuture<ApiResponse<InputStream>> downloadInputFileAsync(
            final String codegenId) {
        try {
            return prepareDownloadInputFileRequest(codegenId).executeAsync();
        } catch (Exception e) {
            throw new CompletionException(e);
        }
    }

    /**
     * Builds the ApiCall object for downloadInputFile.
     */
    private ApiCall<ApiResponse<InputStream>, ApiException> prepareDownloadInputFileRequest(
            final String codegenId) {
        return new ApiCall.Builder<ApiResponse<InputStream>, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.ENUM_DEFAULT.value())
                        .path("/code-generations/{codegen_id}/input-file")
                        .templateParam(param -> param.key("codegen_id").value(codegenId)
                                .shouldEncode(true))
                        .withAuth(auth -> auth
                                .add("Authorization"))
                        .httpMethod(HttpMethod.GET))
                .responseHandler(responseHandler -> responseHandler
                        .responseClassType(ResponseClassType.API_RESPONSE)
                        .nullify404(false)
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .endpointConfiguration(param -> param
                                .hasBinaryResponse(true))
                .build();
    }

    /**
     * Get details on an SDK generation performed for an external API via the Generate SDK
     * endpoints.
     * @param  codegenId  Required parameter: The ID of the code generation to fetch. The code
     *         generation ID is received in the response of the [Generate SDK Via
     *         File]($e/Code%20Generation%20-%20External%20APIs/Generate%20SDK%20via%20File) or
     *         [Generate SDK Via URL
     *         ]($e/Code%20Generation%20-%20External%20APIs/Generate%20SDK%20via%20URL) calls.
     * @return    Returns the UserCodeGeneration wrapped in ApiResponse response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public ApiResponse<UserCodeGeneration> getACodeGeneration(
            final String codegenId) throws ApiException, IOException {
        return prepareGetACodeGenerationRequest(codegenId).execute();
    }

    /**
     * Get details on an SDK generation performed for an external API via the Generate SDK
     * endpoints.
     * @param  codegenId  Required parameter: The ID of the code generation to fetch. The code
     *         generation ID is received in the response of the [Generate SDK Via
     *         File]($e/Code%20Generation%20-%20External%20APIs/Generate%20SDK%20via%20File) or
     *         [Generate SDK Via URL
     *         ]($e/Code%20Generation%20-%20External%20APIs/Generate%20SDK%20via%20URL) calls.
     * @return    Returns the UserCodeGeneration wrapped in ApiResponse response from the API call
     */
    public CompletableFuture<ApiResponse<UserCodeGeneration>> getACodeGenerationAsync(
            final String codegenId) {
        try {
            return prepareGetACodeGenerationRequest(codegenId).executeAsync();
        } catch (Exception e) {
            throw new CompletionException(e);
        }
    }

    /**
     * Builds the ApiCall object for getACodeGeneration.
     */
    private ApiCall<ApiResponse<UserCodeGeneration>, ApiException> prepareGetACodeGenerationRequest(
            final String codegenId) {
        return new ApiCall.Builder<ApiResponse<UserCodeGeneration>, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.ENUM_DEFAULT.value())
                        .path("/code-generations/{codegen_id}")
                        .templateParam(param -> param.key("codegen_id").value(codegenId)
                                .shouldEncode(true))
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .withAuth(auth -> auth
                                .add("Authorization"))
                        .httpMethod(HttpMethod.GET))
                .responseHandler(responseHandler -> responseHandler
                        .responseClassType(ResponseClassType.API_RESPONSE)
                        .apiResponseDeserializer(
                                response -> ApiHelper.deserialize(response, UserCodeGeneration.class))
                        .nullify404(false)
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }

    /**
     * Delete an SDK generation performed for an API via the Generate SDK endpoints.
     * @param  codegenId  Required parameter: The ID of the code generation to delete. The code
     *         generation ID is received in the response of the [Generate SDK Via
     *         File]($e/Code%20Generation%20-%20External%20APIs/Generate%20SDK%20via%20File) or
     *         [Generate SDK Via URL
     *         ]($e/Code%20Generation%20-%20External%20APIs/Generate%20SDK%20via%20URL) calls.
     * @return    Returns the Void wrapped in ApiResponse response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public ApiResponse<Void> deleteCodeGenerationForExternalApis(
            final String codegenId) throws ApiException, IOException {
        return prepareDeleteCodeGenerationForExternalApisRequest(codegenId).execute();
    }

    /**
     * Delete an SDK generation performed for an API via the Generate SDK endpoints.
     * @param  codegenId  Required parameter: The ID of the code generation to delete. The code
     *         generation ID is received in the response of the [Generate SDK Via
     *         File]($e/Code%20Generation%20-%20External%20APIs/Generate%20SDK%20via%20File) or
     *         [Generate SDK Via URL
     *         ]($e/Code%20Generation%20-%20External%20APIs/Generate%20SDK%20via%20URL) calls.
     * @return    Returns the Void wrapped in ApiResponse response from the API call
     */
    public CompletableFuture<ApiResponse<Void>> deleteCodeGenerationForExternalApisAsync(
            final String codegenId) {
        try {
            return prepareDeleteCodeGenerationForExternalApisRequest(codegenId).executeAsync();
        } catch (Exception e) {
            throw new CompletionException(e);
        }
    }

    /**
     * Builds the ApiCall object for deleteCodeGenerationForExternalApis.
     */
    private ApiCall<ApiResponse<Void>, ApiException> prepareDeleteCodeGenerationForExternalApisRequest(
            final String codegenId) {
        return new ApiCall.Builder<ApiResponse<Void>, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.ENUM_DEFAULT.value())
                        .path("/code-generations/{codegen_id}")
                        .templateParam(param -> param.key("codegen_id").value(codegenId)
                                .shouldEncode(true))
                        .withAuth(auth -> auth
                                .add("Authorization"))
                        .httpMethod(HttpMethod.DELETE))
                .responseHandler(responseHandler -> responseHandler
                        .responseClassType(ResponseClassType.API_RESPONSE)
                        .nullify404(false)
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }
}