/*
 * ApimaticApiLib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

package io.apimatic.api.controllers;

import io.apimatic.api.ApiHelper;
import io.apimatic.api.Server;
import io.apimatic.api.exceptions.ApiException;
import io.apimatic.api.http.request.HttpMethod;
import io.apimatic.api.http.response.ApiResponse;
import io.apimatic.api.models.ApiEntityCodeGeneration;
import io.apimatic.api.models.Platforms;
import io.apimatic.core.ApiCall;
import io.apimatic.core.GlobalConfiguration;
import io.apimatic.coreinterfaces.http.request.ResponseClassType;
import java.io.IOException;
import java.io.InputStream;
import java.util.List;
import java.util.concurrent.CompletableFuture;
import java.util.concurrent.CompletionException;

/**
 * This class lists all the endpoints of the groups.
 */
public final class CodeGenerationImportedApisController extends BaseController {

    /**
     * Initializes the controller.
     * @param globalConfig    Configurations added in client.
     */
    public CodeGenerationImportedApisController(GlobalConfiguration globalConfig) {
        super(globalConfig);
    }

    /**
     * Generate an SDK for an API Version. This endpoint generates and then uploads the generated
     * SDK to APIMatic's cloud storage. An ID for the generation performed is returned as part of
     * the response.
     * @param  apiEntityId  Required parameter: The ID of the API Entity to generate the SDK for.
     * @param  template  Required parameter: The structure contains platforms that APIMatic CodeGen
     *         can generate SDKs and Docs in.
     * @return    Returns the ApiEntityCodeGeneration wrapped in ApiResponse response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public ApiResponse<ApiEntityCodeGeneration> generateSdk(
            final String apiEntityId,
            final Platforms template) throws ApiException, IOException {
        return prepareGenerateSdkRequest(apiEntityId, template).execute();
    }

    /**
     * Generate an SDK for an API Version. This endpoint generates and then uploads the generated
     * SDK to APIMatic's cloud storage. An ID for the generation performed is returned as part of
     * the response.
     * @param  apiEntityId  Required parameter: The ID of the API Entity to generate the SDK for.
     * @param  template  Required parameter: The structure contains platforms that APIMatic CodeGen
     *         can generate SDKs and Docs in.
     * @return    Returns the ApiEntityCodeGeneration wrapped in ApiResponse response from the API call
     */
    public CompletableFuture<ApiResponse<ApiEntityCodeGeneration>> generateSdkAsync(
            final String apiEntityId,
            final Platforms template) {
        try {
            return prepareGenerateSdkRequest(apiEntityId, template).executeAsync();
        } catch (Exception e) {
            throw new CompletionException(e);
        }
    }

    /**
     * Builds the ApiCall object for generateSdk.
     */
    private ApiCall<ApiResponse<ApiEntityCodeGeneration>, ApiException> prepareGenerateSdkRequest(
            final String apiEntityId,
            final Platforms template) {
        return new ApiCall.Builder<ApiResponse<ApiEntityCodeGeneration>, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.ENUM_DEFAULT.value())
                        .path("/api-entities/{api_entity_id}/code-generations/generate")
                        .formParam(param -> param.key("template")
                                .value((template != null) ? template.value() : "CS_NET_STANDARD_LIB"))
                        .templateParam(param -> param.key("api_entity_id").value(apiEntityId)
                                .shouldEncode(true))
                        .headerParam(param -> param.key("Content-Type")
                                .value("application/x-www-form-urlencoded").isRequired(false))
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .withAuth(auth -> auth
                                .add("Authorization"))
                        .httpMethod(HttpMethod.POST))
                .responseHandler(responseHandler -> responseHandler
                        .responseClassType(ResponseClassType.API_RESPONSE)
                        .apiResponseDeserializer(
                                response -> ApiHelper.deserialize(response, ApiEntityCodeGeneration.class))
                        .nullify404(false)
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }

    /**
     * Download the SDK generated via the Generate SDK endpoint.
     * @param  apiEntityId  Required parameter: The ID of the API Entity for which the SDK was
     *         generated.
     * @param  codegenId  Required parameter: The ID of code generation received in the response of
     *         the [SDK generation call]($e/Code%20Generation%20-%20Imported%20APIs/Generate%20SDK).
     * @return    Returns the InputStream wrapped in ApiResponse response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public ApiResponse<InputStream> downloadSdk(
            final String apiEntityId,
            final String codegenId) throws ApiException, IOException {
        return prepareDownloadSdkRequest(apiEntityId, codegenId).execute();
    }

    /**
     * Download the SDK generated via the Generate SDK endpoint.
     * @param  apiEntityId  Required parameter: The ID of the API Entity for which the SDK was
     *         generated.
     * @param  codegenId  Required parameter: The ID of code generation received in the response of
     *         the [SDK generation call]($e/Code%20Generation%20-%20Imported%20APIs/Generate%20SDK).
     * @return    Returns the InputStream wrapped in ApiResponse response from the API call
     */
    public CompletableFuture<ApiResponse<InputStream>> downloadSdkAsync(
            final String apiEntityId,
            final String codegenId) {
        try {
            return prepareDownloadSdkRequest(apiEntityId, codegenId).executeAsync();
        } catch (Exception e) {
            throw new CompletionException(e);
        }
    }

    /**
     * Builds the ApiCall object for downloadSdk.
     */
    private ApiCall<ApiResponse<InputStream>, ApiException> prepareDownloadSdkRequest(
            final String apiEntityId,
            final String codegenId) {
        return new ApiCall.Builder<ApiResponse<InputStream>, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.ENUM_DEFAULT.value())
                        .path("/api-entities/{api_entity_id}/code-generations/{codegen_id}/generated-sdk")
                        .templateParam(param -> param.key("api_entity_id").value(apiEntityId)
                                .shouldEncode(true))
                        .templateParam(param -> param.key("codegen_id").value(codegenId)
                                .shouldEncode(true))
                        .withAuth(auth -> auth
                                .add("Authorization"))
                        .httpMethod(HttpMethod.GET))
                .responseHandler(responseHandler -> responseHandler
                        .responseClassType(ResponseClassType.API_RESPONSE)
                        .nullify404(false)
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .endpointConfiguration(param -> param
                                .hasBinaryResponse(true))
                .build();
    }

    /**
     * Get a list of all SDK generations done against an API Version via the Generate SDK endpoint.
     * @param  apiEntityId  Required parameter: The ID of the API Entity for which to list code
     *         generations.
     * @return    Returns the List of ApiEntityCodeGeneration wrapped in ApiResponse response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public ApiResponse<List<ApiEntityCodeGeneration>> listAllCodeGenerations(
            final String apiEntityId) throws ApiException, IOException {
        return prepareListAllCodeGenerationsRequest(apiEntityId).execute();
    }

    /**
     * Get a list of all SDK generations done against an API Version via the Generate SDK endpoint.
     * @param  apiEntityId  Required parameter: The ID of the API Entity for which to list code
     *         generations.
     * @return    Returns the List of ApiEntityCodeGeneration wrapped in ApiResponse response from the API call
     */
    public CompletableFuture<ApiResponse<List<ApiEntityCodeGeneration>>> listAllCodeGenerationsAsync(
            final String apiEntityId) {
        try {
            return prepareListAllCodeGenerationsRequest(apiEntityId).executeAsync();
        } catch (Exception e) {
            throw new CompletionException(e);
        }
    }

    /**
     * Builds the ApiCall object for listAllCodeGenerations.
     */
    private ApiCall<ApiResponse<List<ApiEntityCodeGeneration>>, ApiException> prepareListAllCodeGenerationsRequest(
            final String apiEntityId) {
        return new ApiCall.Builder<ApiResponse<List<ApiEntityCodeGeneration>>, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.ENUM_DEFAULT.value())
                        .path("/api-entities/{api_entity_id}/code-generations")
                        .templateParam(param -> param.key("api_entity_id").value(apiEntityId)
                                .shouldEncode(true))
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .withAuth(auth -> auth
                                .add("Authorization"))
                        .httpMethod(HttpMethod.GET))
                .responseHandler(responseHandler -> responseHandler
                        .responseClassType(ResponseClassType.API_RESPONSE)
                        .apiResponseDeserializer(
                                response -> ApiHelper.deserializeArray(response,
                                        ApiEntityCodeGeneration[].class))
                        .nullify404(false)
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }

    /**
     * Get details on an SDK generation performed via the Generate SDK endpoint.
     * @param  apiEntityId  Required parameter: The ID of the API Entity to fetch the code
     *         generation for.
     * @param  codegenId  Required parameter: The ID of the code generation to fetch. The code
     *         generation ID is received in the response of the [SDK generation
     *         call]($e/Code%20Generation%20-%20Imported%20APIs/Generate%20SDK).
     * @return    Returns the ApiEntityCodeGeneration wrapped in ApiResponse response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public ApiResponse<ApiEntityCodeGeneration> getACodeGeneration(
            final String apiEntityId,
            final String codegenId) throws ApiException, IOException {
        return prepareGetACodeGenerationRequest(apiEntityId, codegenId).execute();
    }

    /**
     * Get details on an SDK generation performed via the Generate SDK endpoint.
     * @param  apiEntityId  Required parameter: The ID of the API Entity to fetch the code
     *         generation for.
     * @param  codegenId  Required parameter: The ID of the code generation to fetch. The code
     *         generation ID is received in the response of the [SDK generation
     *         call]($e/Code%20Generation%20-%20Imported%20APIs/Generate%20SDK).
     * @return    Returns the ApiEntityCodeGeneration wrapped in ApiResponse response from the API call
     */
    public CompletableFuture<ApiResponse<ApiEntityCodeGeneration>> getACodeGenerationAsync(
            final String apiEntityId,
            final String codegenId) {
        try {
            return prepareGetACodeGenerationRequest(apiEntityId, codegenId).executeAsync();
        } catch (Exception e) {
            throw new CompletionException(e);
        }
    }

    /**
     * Builds the ApiCall object for getACodeGeneration.
     */
    private ApiCall<ApiResponse<ApiEntityCodeGeneration>, ApiException> prepareGetACodeGenerationRequest(
            final String apiEntityId,
            final String codegenId) {
        return new ApiCall.Builder<ApiResponse<ApiEntityCodeGeneration>, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.ENUM_DEFAULT.value())
                        .path("/api-entities/{api_entity_id}/code-generations/{codegen_id}")
                        .templateParam(param -> param.key("api_entity_id").value(apiEntityId)
                                .shouldEncode(true))
                        .templateParam(param -> param.key("codegen_id").value(codegenId)
                                .shouldEncode(true))
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .withAuth(auth -> auth
                                .add("Authorization"))
                        .httpMethod(HttpMethod.GET))
                .responseHandler(responseHandler -> responseHandler
                        .responseClassType(ResponseClassType.API_RESPONSE)
                        .apiResponseDeserializer(
                                response -> ApiHelper.deserialize(response, ApiEntityCodeGeneration.class))
                        .nullify404(false)
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }

    /**
     * Delete an SDK generation performed for an API Version via the Generate SDK endpoint.
     * @param  apiEntityId  Required parameter: The ID of the API Entity to delete the code
     *         generation for.
     * @param  codegenId  Required parameter: The ID of the code generation to delete. The code
     *         generation ID is received in the response of the [SDK generation
     *         call]($e/Code%20Generation%20-%20Imported%20APIs/Generate%20SDK).
     * @return    Returns the Void wrapped in ApiResponse response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public ApiResponse<Void> deleteCodeGeneration(
            final String apiEntityId,
            final String codegenId) throws ApiException, IOException {
        return prepareDeleteCodeGenerationRequest(apiEntityId, codegenId).execute();
    }

    /**
     * Delete an SDK generation performed for an API Version via the Generate SDK endpoint.
     * @param  apiEntityId  Required parameter: The ID of the API Entity to delete the code
     *         generation for.
     * @param  codegenId  Required parameter: The ID of the code generation to delete. The code
     *         generation ID is received in the response of the [SDK generation
     *         call]($e/Code%20Generation%20-%20Imported%20APIs/Generate%20SDK).
     * @return    Returns the Void wrapped in ApiResponse response from the API call
     */
    public CompletableFuture<ApiResponse<Void>> deleteCodeGenerationAsync(
            final String apiEntityId,
            final String codegenId) {
        try {
            return prepareDeleteCodeGenerationRequest(apiEntityId, codegenId).executeAsync();
        } catch (Exception e) {
            throw new CompletionException(e);
        }
    }

    /**
     * Builds the ApiCall object for deleteCodeGeneration.
     */
    private ApiCall<ApiResponse<Void>, ApiException> prepareDeleteCodeGenerationRequest(
            final String apiEntityId,
            final String codegenId) {
        return new ApiCall.Builder<ApiResponse<Void>, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.ENUM_DEFAULT.value())
                        .path("/api-entities/{api_entity_id}/code-generations/{codegen_id}")
                        .templateParam(param -> param.key("api_entity_id").value(apiEntityId)
                                .shouldEncode(true))
                        .templateParam(param -> param.key("codegen_id").value(codegenId)
                                .shouldEncode(true))
                        .withAuth(auth -> auth
                                .add("Authorization"))
                        .httpMethod(HttpMethod.DELETE))
                .responseHandler(responseHandler -> responseHandler
                        .responseClassType(ResponseClassType.API_RESPONSE)
                        .nullify404(false)
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }
}