/*
 * ApimaticApiLib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

package io.apimatic.api.controllers;

import io.apimatic.api.ApiHelper;
import io.apimatic.api.Server;
import io.apimatic.api.exceptions.ApiException;
import io.apimatic.api.exceptions.InternalServerErrorResponseException;
import io.apimatic.api.exceptions.ProblemDetailsException;
import io.apimatic.api.exceptions.UnauthorizedResponseException;
import io.apimatic.api.http.request.HttpMethod;
import io.apimatic.api.http.response.ApiResponse;
import io.apimatic.api.models.ContentType;
import io.apimatic.api.models.PortalGenerationAsyncResponse;
import io.apimatic.api.models.PortalGenerationStatusResponse;
import io.apimatic.api.utilities.FileWrapper;
import io.apimatic.core.ApiCall;
import io.apimatic.core.ErrorCase;
import io.apimatic.core.GlobalConfiguration;
import io.apimatic.coreinterfaces.http.request.MutliPartRequestType;
import io.apimatic.coreinterfaces.http.request.ResponseClassType;
import java.io.IOException;
import java.io.InputStream;
import java.util.concurrent.CompletableFuture;
import java.util.concurrent.CompletionException;

/**
 * This class lists all the endpoints of the groups.
 */
public final class DocsPortalGenerationAsyncController extends BaseController {

    /**
     * Initializes the controller.
     * @param globalConfig    Configurations added in client.
     */
    public DocsPortalGenerationAsyncController(GlobalConfiguration globalConfig) {
        super(globalConfig);
    }

    /**
     * Create an async On-premise Documentation Portal Generation request by providing a Portal
     * Build Input.
     * @param  contentType  Required parameter: Example:
     * @param  file  Required parameter: The input file to the Portal Generator. Must contain the
     *         build file.
     * @param  xApiMaticCallbackUrl  Optional parameter: Optional header containing callback url.
     *         This url will be called by the server once the portal generation completes
     * @return    Returns the PortalGenerationAsyncResponse wrapped in ApiResponse response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public ApiResponse<PortalGenerationAsyncResponse> generateOnPremPortalViaBuildInputAsync(
            final ContentType contentType,
            final FileWrapper file,
            final String xApiMaticCallbackUrl) throws ApiException, IOException {
        return prepareGenerateOnPremPortalViaBuildInputAsyncRequest(contentType, file,
                xApiMaticCallbackUrl).execute();
    }

    /**
     * Create an async On-premise Documentation Portal Generation request by providing a Portal
     * Build Input.
     * @param  contentType  Required parameter: Example:
     * @param  file  Required parameter: The input file to the Portal Generator. Must contain the
     *         build file.
     * @param  xApiMaticCallbackUrl  Optional parameter: Optional header containing callback url.
     *         This url will be called by the server once the portal generation completes
     * @return    Returns the PortalGenerationAsyncResponse wrapped in ApiResponse response from the API call
     */
    public CompletableFuture<ApiResponse<PortalGenerationAsyncResponse>> generateOnPremPortalViaBuildInputAsyncAsync(
            final ContentType contentType,
            final FileWrapper file,
            final String xApiMaticCallbackUrl) {
        try {
            return prepareGenerateOnPremPortalViaBuildInputAsyncRequest(contentType, file,
            xApiMaticCallbackUrl).executeAsync();
        } catch (Exception e) {
            throw new CompletionException(e);
        }
    }

    /**
     * Builds the ApiCall object for generateOnPremPortalViaBuildInputAsync.
     */
    private ApiCall<ApiResponse<PortalGenerationAsyncResponse>, ApiException> prepareGenerateOnPremPortalViaBuildInputAsyncRequest(
            final ContentType contentType,
            final FileWrapper file,
            final String xApiMaticCallbackUrl) {
        return new ApiCall.Builder<ApiResponse<PortalGenerationAsyncResponse>, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.ENUM_DEFAULT.value())
                        .path("/portal/v2")
                        .formParam(param -> param.key("file")
                                .value(file)
                                .multiPartRequestType(MutliPartRequestType.MULTI_PART_FILE)
                                .multipartHeaders("content-type", "application/octect-stream"))
                        .headerParam(param -> param.key("Content-Type")
                                .value((contentType != null) ? contentType.value() : null).isRequired(false))
                        .headerParam(param -> param.key("X-APIMatic-CallbackUrl")
                                .value(xApiMaticCallbackUrl).isRequired(false))
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .withAuth(auth -> auth
                                .add("Authorization"))
                        .httpMethod(HttpMethod.POST))
                .responseHandler(responseHandler -> responseHandler
                        .responseClassType(ResponseClassType.API_RESPONSE)
                        .apiResponseDeserializer(
                                response -> ApiHelper.deserialize(response, PortalGenerationAsyncResponse.class))
                        .nullify404(false)
                        .localErrorCase("400",
                                 ErrorCase.setReason("Bad Request",
                                (reason, context) -> new ProblemDetailsException(reason, context)))
                        .localErrorCase("401",
                                 ErrorCase.setReason("Unauthorized",
                                (reason, context) -> new UnauthorizedResponseException(reason, context)))
                        .localErrorCase("500",
                                 ErrorCase.setReason("Internal Server Error",
                                (reason, context) -> new InternalServerErrorResponseException(reason, context)))
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }

    /**
     * Get the status of a portal generation request.
     * @param  id  Required parameter:
     * @return    Returns the PortalGenerationStatusResponse wrapped in ApiResponse response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public ApiResponse<PortalGenerationStatusResponse> getPortalGenerationStatus(
            final String id) throws ApiException, IOException {
        return prepareGetPortalGenerationStatusRequest(id).execute();
    }

    /**
     * Get the status of a portal generation request.
     * @param  id  Required parameter:
     * @return    Returns the PortalGenerationStatusResponse wrapped in ApiResponse response from the API call
     */
    public CompletableFuture<ApiResponse<PortalGenerationStatusResponse>> getPortalGenerationStatusAsync(
            final String id) {
        try {
            return prepareGetPortalGenerationStatusRequest(id).executeAsync();
        } catch (Exception e) {
            throw new CompletionException(e);
        }
    }

    /**
     * Builds the ApiCall object for getPortalGenerationStatus.
     */
    private ApiCall<ApiResponse<PortalGenerationStatusResponse>, ApiException> prepareGetPortalGenerationStatusRequest(
            final String id) {
        return new ApiCall.Builder<ApiResponse<PortalGenerationStatusResponse>, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.ENUM_DEFAULT.value())
                        .path("/portal/v2/{id}/status")
                        .templateParam(param -> param.key("id").value(id)
                                .shouldEncode(true))
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .withAuth(auth -> auth
                                .add("Authorization"))
                        .httpMethod(HttpMethod.GET))
                .responseHandler(responseHandler -> responseHandler
                        .responseClassType(ResponseClassType.API_RESPONSE)
                        .apiResponseDeserializer(
                                response -> ApiHelper.deserialize(response, PortalGenerationStatusResponse.class))
                        .nullify404(false)
                        .localErrorCase("400",
                                 ErrorCase.setReason("Bad Request",
                                (reason, context) -> new ProblemDetailsException(reason, context)))
                        .localErrorCase("401",
                                 ErrorCase.setReason("Unauthorized",
                                (reason, context) -> new UnauthorizedResponseException(reason, context)))
                        .localErrorCase("500",
                                 ErrorCase.setReason("Internal Server Error",
                                (reason, context) -> new InternalServerErrorResponseException(reason, context)))
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }

    /**
     * Downloads the portal artifacts. The generated artifacts include: 1. SDKs 2. Docs 3. API
     * Specification files The endpoint returns a zip file that contains a static Site and can be
     * hosted on any Web Server.
     * @param  id  Required parameter:
     * @return    Returns the InputStream wrapped in ApiResponse response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public ApiResponse<InputStream> downloadGeneratedPortal(
            final String id) throws ApiException, IOException {
        return prepareDownloadGeneratedPortalRequest(id).execute();
    }

    /**
     * Downloads the portal artifacts. The generated artifacts include: 1. SDKs 2. Docs 3. API
     * Specification files The endpoint returns a zip file that contains a static Site and can be
     * hosted on any Web Server.
     * @param  id  Required parameter:
     * @return    Returns the InputStream wrapped in ApiResponse response from the API call
     */
    public CompletableFuture<ApiResponse<InputStream>> downloadGeneratedPortalAsync(
            final String id) {
        try {
            return prepareDownloadGeneratedPortalRequest(id).executeAsync();
        } catch (Exception e) {
            throw new CompletionException(e);
        }
    }

    /**
     * Builds the ApiCall object for downloadGeneratedPortal.
     */
    private ApiCall<ApiResponse<InputStream>, ApiException> prepareDownloadGeneratedPortalRequest(
            final String id) {
        return new ApiCall.Builder<ApiResponse<InputStream>, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.ENUM_DEFAULT.value())
                        .path("/portal/v2/{id}/download")
                        .templateParam(param -> param.key("id").value(id)
                                .shouldEncode(true))
                        .withAuth(auth -> auth
                                .add("Authorization"))
                        .httpMethod(HttpMethod.GET))
                .responseHandler(responseHandler -> responseHandler
                        .responseClassType(ResponseClassType.API_RESPONSE)
                        .nullify404(false)
                        .localErrorCase("400",
                                 ErrorCase.setReason("Bad Request",
                                (reason, context) -> new ProblemDetailsException(reason, context)))
                        .localErrorCase("401",
                                 ErrorCase.setReason("Unauthorized",
                                (reason, context) -> new UnauthorizedResponseException(reason, context)))
                        .localErrorCase("422",
                                 ErrorCase.setReason("Unprocessable Entity - Contains error.zip for build issues",
                                (reason, context) -> new ApiException(reason, context)))
                        .localErrorCase("500",
                                 ErrorCase.setReason("Internal Server Error",
                                (reason, context) -> new InternalServerErrorResponseException(reason, context)))
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .endpointConfiguration(param -> param
                                .hasBinaryResponse(true))
                .build();
    }
}