/*
 * ApimaticApiLib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

package io.apimatic.api.controllers;

import io.apimatic.api.ApiHelper;
import io.apimatic.api.Server;
import io.apimatic.api.exceptions.ApiException;
import io.apimatic.api.exceptions.InternalServerErrorResponseException;
import io.apimatic.api.exceptions.ProblemDetailsException;
import io.apimatic.api.exceptions.UnauthorizedResponseException;
import io.apimatic.api.http.request.HttpMethod;
import io.apimatic.api.http.response.ApiResponse;
import io.apimatic.api.models.Accept4;
import io.apimatic.api.models.ContentType;
import io.apimatic.api.utilities.FileWrapper;
import io.apimatic.core.ApiCall;
import io.apimatic.core.ErrorCase;
import io.apimatic.core.GlobalConfiguration;
import io.apimatic.coreinterfaces.http.request.MutliPartRequestType;
import io.apimatic.coreinterfaces.http.request.ResponseClassType;
import java.io.IOException;
import java.io.InputStream;
import java.util.List;
import java.util.Map;
import java.util.concurrent.CompletableFuture;
import java.util.concurrent.CompletionException;

/**
 * This class lists all the endpoints of the groups.
 */
public final class DocsPortalManagementController extends BaseController {

    /**
     * Initializes the controller.
     * @param globalConfig    Configurations added in client.
     */
    public DocsPortalManagementController(GlobalConfiguration globalConfig) {
        super(globalConfig);
    }

    /**
     * Publish artifacts for a Hosted Portal. This endpoint regenerates all the artifacts for a
     * hosted portal and uploads them to APIMatic's cloud storage, from where the Portal fetches
     * them. These artifacts include: 1. SDKs 2. Docs 3. API Specification files Call this endpoint
     * to update your Hosted Portal after you update an API Entity via any of the Import API
     * Endpoints. __**Note: If you have an embedded portal against the same API Entity, artifacts
     * for that portal will get updated as well.**__.
     * @param  apiEntityId  Required parameter: The ID of the API Entity to update the portal
     *         artifacts for.
     * @return    Returns the Void wrapped in ApiResponse response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public ApiResponse<Void> publishHostedPortal(
            final String apiEntityId) throws ApiException, IOException {
        return preparePublishHostedPortalRequest(apiEntityId).execute();
    }

    /**
     * Publish artifacts for a Hosted Portal. This endpoint regenerates all the artifacts for a
     * hosted portal and uploads them to APIMatic's cloud storage, from where the Portal fetches
     * them. These artifacts include: 1. SDKs 2. Docs 3. API Specification files Call this endpoint
     * to update your Hosted Portal after you update an API Entity via any of the Import API
     * Endpoints. __**Note: If you have an embedded portal against the same API Entity, artifacts
     * for that portal will get updated as well.**__.
     * @param  apiEntityId  Required parameter: The ID of the API Entity to update the portal
     *         artifacts for.
     * @return    Returns the Void wrapped in ApiResponse response from the API call
     */
    public CompletableFuture<ApiResponse<Void>> publishHostedPortalAsync(
            final String apiEntityId) {
        try {
            return preparePublishHostedPortalRequest(apiEntityId).executeAsync();
        } catch (Exception e) {
            throw new CompletionException(e);
        }
    }

    /**
     * Builds the ApiCall object for publishHostedPortal.
     */
    private ApiCall<ApiResponse<Void>, ApiException> preparePublishHostedPortalRequest(
            final String apiEntityId) {
        return new ApiCall.Builder<ApiResponse<Void>, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.ENUM_DEFAULT.value())
                        .path("/api-entities/{api_entity_id}/hosted-portal")
                        .templateParam(param -> param.key("api_entity_id").value(apiEntityId)
                                .shouldEncode(true))
                        .withAuth(auth -> auth
                                .add("Authorization"))
                        .httpMethod(HttpMethod.PUT))
                .responseHandler(responseHandler -> responseHandler
                        .responseClassType(ResponseClassType.API_RESPONSE)
                        .nullify404(false)
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }

    /**
     * Publish artifacts for an Embedded Portal and get the Portal Embed script. This endpoint
     * regenerates all the artifacts for an embedded portal and uploads them to APIMatic's cloud
     * storage, from where the Portal fetches them. These artifacts include: 1. SDKs 2. Docs 3. API
     * Specification files Call this endpoint to update your Embedded Portal after you update an API
     * Entity via any of the Import API Endpoints. This endpoint returns the Portal Embed script in
     * the response. __**Note: If you have a hosted portal against the same API Entity, artifacts
     * for that portal will get updated as well.**__.
     * @param  apiEntityId  Required parameter: The ID of the API Entity to update the portal
     *         artifacts for.
     * @return    Returns the Void wrapped in ApiResponse response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public ApiResponse<Void> publishEmbeddedPortal(
            final String apiEntityId) throws ApiException, IOException {
        return preparePublishEmbeddedPortalRequest(apiEntityId).execute();
    }

    /**
     * Publish artifacts for an Embedded Portal and get the Portal Embed script. This endpoint
     * regenerates all the artifacts for an embedded portal and uploads them to APIMatic's cloud
     * storage, from where the Portal fetches them. These artifacts include: 1. SDKs 2. Docs 3. API
     * Specification files Call this endpoint to update your Embedded Portal after you update an API
     * Entity via any of the Import API Endpoints. This endpoint returns the Portal Embed script in
     * the response. __**Note: If you have a hosted portal against the same API Entity, artifacts
     * for that portal will get updated as well.**__.
     * @param  apiEntityId  Required parameter: The ID of the API Entity to update the portal
     *         artifacts for.
     * @return    Returns the Void wrapped in ApiResponse response from the API call
     */
    public CompletableFuture<ApiResponse<Void>> publishEmbeddedPortalAsync(
            final String apiEntityId) {
        try {
            return preparePublishEmbeddedPortalRequest(apiEntityId).executeAsync();
        } catch (Exception e) {
            throw new CompletionException(e);
        }
    }

    /**
     * Builds the ApiCall object for publishEmbeddedPortal.
     */
    private ApiCall<ApiResponse<Void>, ApiException> preparePublishEmbeddedPortalRequest(
            final String apiEntityId) {
        return new ApiCall.Builder<ApiResponse<Void>, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.ENUM_DEFAULT.value())
                        .path("/api-entities/{api_entity_id}/embedded-portal")
                        .templateParam(param -> param.key("api_entity_id").value(apiEntityId)
                                .shouldEncode(true))
                        .withAuth(auth -> auth
                                .add("Authorization"))
                        .httpMethod(HttpMethod.PUT))
                .responseHandler(responseHandler -> responseHandler
                        .responseClassType(ResponseClassType.API_RESPONSE)
                        .nullify404(false)
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }

    /**
     * Generate an On-premise Documentation Portal for an API Entity. This endpoint generates all
     * artifacts for the Portal and packages them together into a zip file along with the required
     * HTML, CSS and JS files. The generated artifacts include: 1. SDKs 2. Docs 3. API Specification
     * files The endpoint returns a zip file that contains a static Site and can be hosted on any
     * Web Server.
     * @param  apiEntityId  Required parameter: The ID of the API Entity to generate the Portal for.
     * @param  accept  Required parameter: Example: application/zip
     * @return    Returns the Void wrapped in ApiResponse response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public ApiResponse<Void> generateOnPremPortalViaApiEntity(
            final String apiEntityId,
            final Accept4 accept) throws ApiException, IOException {
        return prepareGenerateOnPremPortalViaApiEntityRequest(apiEntityId, accept).execute();
    }

    /**
     * Generate an On-premise Documentation Portal for an API Entity. This endpoint generates all
     * artifacts for the Portal and packages them together into a zip file along with the required
     * HTML, CSS and JS files. The generated artifacts include: 1. SDKs 2. Docs 3. API Specification
     * files The endpoint returns a zip file that contains a static Site and can be hosted on any
     * Web Server.
     * @param  apiEntityId  Required parameter: The ID of the API Entity to generate the Portal for.
     * @param  accept  Required parameter: Example: application/zip
     * @return    Returns the Void wrapped in ApiResponse response from the API call
     */
    public CompletableFuture<ApiResponse<Void>> generateOnPremPortalViaApiEntityAsync(
            final String apiEntityId,
            final Accept4 accept) {
        try {
            return prepareGenerateOnPremPortalViaApiEntityRequest(apiEntityId, accept).executeAsync();
        } catch (Exception e) {
            throw new CompletionException(e);
        }
    }

    /**
     * Builds the ApiCall object for generateOnPremPortalViaApiEntity.
     */
    private ApiCall<ApiResponse<Void>, ApiException> prepareGenerateOnPremPortalViaApiEntityRequest(
            final String apiEntityId,
            final Accept4 accept) {
        return new ApiCall.Builder<ApiResponse<Void>, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.ENUM_DEFAULT.value())
                        .path("/api-entities/{api_entity_id}/on-prem-portal")
                        .templateParam(param -> param.key("api_entity_id").value(apiEntityId)
                                .shouldEncode(true))
                        .headerParam(param -> param.key("Accept")
                                .value((accept != null) ? accept.value() : "application/zip").isRequired(false))
                        .withAuth(auth -> auth
                                .add("Authorization"))
                        .httpMethod(HttpMethod.GET))
                .responseHandler(responseHandler -> responseHandler
                        .responseClassType(ResponseClassType.API_RESPONSE)
                        .nullify404(false)
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }

    /**
     * Generate an On-premise Documentation Portal by uploading a Portal Build Input. This endpoint
     * generates all artifacts for the Portal and packages them together into a zip file along with
     * the required HTML, CSS and JS files. The generated artifacts include: 1. SDKs 2. Docs 3. API
     * Specification files The endpoint returns a zip file that contains a static Site and can be
     * hosted on any Web Server.
     * @param  contentType  Required parameter: Example:
     * @param  file  Required parameter: The input file to the Portal Generator. Must contain the
     *         build file.
     * @param    queryParameters    Additional optional query parameters are supported by this endpoint
     * @return    Returns the InputStream wrapped in ApiResponse response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public ApiResponse<InputStream> generateOnPremPortalViaBuildInput(
            final ContentType contentType,
            final FileWrapper file,
            final Map<String, Object> queryParameters) throws ApiException, IOException {
        return prepareGenerateOnPremPortalViaBuildInputRequest(contentType, file,
                queryParameters).execute();
    }

    /**
     * Generate an On-premise Documentation Portal by uploading a Portal Build Input. This endpoint
     * generates all artifacts for the Portal and packages them together into a zip file along with
     * the required HTML, CSS and JS files. The generated artifacts include: 1. SDKs 2. Docs 3. API
     * Specification files The endpoint returns a zip file that contains a static Site and can be
     * hosted on any Web Server.
     * @param  contentType  Required parameter: Example:
     * @param  file  Required parameter: The input file to the Portal Generator. Must contain the
     *         build file.
     * @param    queryParameters    Additional optional query parameters are supported by this endpoint
     * @return    Returns the InputStream wrapped in ApiResponse response from the API call
     */
    public CompletableFuture<ApiResponse<InputStream>> generateOnPremPortalViaBuildInputAsync(
            final ContentType contentType,
            final FileWrapper file,
            final Map<String, Object> queryParameters) {
        try {
            return prepareGenerateOnPremPortalViaBuildInputRequest(contentType, file,
            queryParameters).executeAsync();
        } catch (Exception e) {
            throw new CompletionException(e);
        }
    }

    /**
     * Builds the ApiCall object for generateOnPremPortalViaBuildInput.
     */
    private ApiCall<ApiResponse<InputStream>, ApiException> prepareGenerateOnPremPortalViaBuildInputRequest(
            final ContentType contentType,
            final FileWrapper file,
            final Map<String, Object> queryParameters) {
        return new ApiCall.Builder<ApiResponse<InputStream>, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.ENUM_DEFAULT.value())
                        .path("/portal")
                        .formParam(param -> param.key("file")
                                .value(file)
                                .multiPartRequestType(MutliPartRequestType.MULTI_PART_FILE)
                                .multipartHeaders("content-type", "application/octect-stream"))
                        .headerParam(param -> param.key("Content-Type")
                                .value((contentType != null) ? contentType.value() : null).isRequired(false))
                        .withAuth(auth -> auth
                                .add("Authorization"))
                        .httpMethod(HttpMethod.POST))
                .responseHandler(responseHandler -> responseHandler
                        .responseClassType(ResponseClassType.API_RESPONSE)
                        .nullify404(false)
                        .localErrorCase("400",
                                 ErrorCase.setReason("Bad Request",
                                (reason, context) -> new ProblemDetailsException(reason, context)))
                        .localErrorCase("401",
                                 ErrorCase.setReason("Unauthorized",
                                (reason, context) -> new UnauthorizedResponseException(reason, context)))
                        .localErrorCase("403",
                                 ErrorCase.setReason("Subscription Issue",
                                (reason, context) -> new ProblemDetailsException(reason, context)))
                        .localErrorCase("422",
                                 ErrorCase.setReason("Unprocessable Entity - Contains error.zip for build issues",
                                (reason, context) -> new ApiException(reason, context)))
                        .localErrorCase("500",
                                 ErrorCase.setReason("Internal Server Error",
                                (reason, context) -> new InternalServerErrorResponseException(reason, context)))
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .endpointConfiguration(param -> param
                                .hasBinaryResponse(true))
                .build();
    }

    /**
     * Generate Build Input for a Portal created using the UI workflow. The Build Input will
     * correspond to the draft version of the Portal i.e. unpublished changes will also be included.
     * This can be used to create a backup of your Portal or to migrate from the UI workflow to the
     * docs as code workflow.
     * @param  apiGroupId  Required parameter:
     * @param  apiEntities  Optional parameter:
     * @return    Returns the Object wrapped in ApiResponse response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public ApiResponse<Object> generateBuildInputForUnpublishedPortal(
            final String apiGroupId,
            final List<String> apiEntities) throws ApiException, IOException {
        return prepareGenerateBuildInputForUnpublishedPortalRequest(apiGroupId,
                apiEntities).execute();
    }

    /**
     * Generate Build Input for a Portal created using the UI workflow. The Build Input will
     * correspond to the draft version of the Portal i.e. unpublished changes will also be included.
     * This can be used to create a backup of your Portal or to migrate from the UI workflow to the
     * docs as code workflow.
     * @param  apiGroupId  Required parameter:
     * @param  apiEntities  Optional parameter:
     * @return    Returns the Object wrapped in ApiResponse response from the API call
     */
    public CompletableFuture<ApiResponse<Object>> generateBuildInputForUnpublishedPortalAsync(
            final String apiGroupId,
            final List<String> apiEntities) {
        try {
            return prepareGenerateBuildInputForUnpublishedPortalRequest(apiGroupId,
            apiEntities).executeAsync();
        } catch (Exception e) {
            throw new CompletionException(e);
        }
    }

    /**
     * Builds the ApiCall object for generateBuildInputForUnpublishedPortal.
     */
    private ApiCall<ApiResponse<Object>, ApiException> prepareGenerateBuildInputForUnpublishedPortalRequest(
            final String apiGroupId,
            final List<String> apiEntities) {
        return new ApiCall.Builder<ApiResponse<Object>, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.ENUM_DEFAULT.value())
                        .path("/portal/build/{apiGroupId}/draft")
                        .queryParam(param -> param.key("apiEntities")
                                .value(apiEntities).isRequired(false))
                        .templateParam(param -> param.key("apiGroupId").value(apiGroupId)
                                .shouldEncode(true))
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .withAuth(auth -> auth
                                .add("Authorization"))
                        .httpMethod(HttpMethod.GET))
                .responseHandler(responseHandler -> responseHandler
                        .responseClassType(ResponseClassType.API_RESPONSE)
                        .apiResponseDeserializer(
                                response -> response)
                        .nullify404(false)
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }

    /**
     * Generate Build Input for a Portal created using the UI workflow. The Build Input will
     * correspond to the published version of the Portal i.e. unpublished changes will not be
     * inlcuded. This can be used to create a backup of your Portal or to migrate from the UI
     * workflow to the docs as code workflow.
     * @param  apiGroupId  Required parameter:
     * @param  apiEntities  Optional parameter:
     * @return    Returns the Object wrapped in ApiResponse response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public ApiResponse<Object> generateBuildInputForPublishedPortal(
            final String apiGroupId,
            final List<String> apiEntities) throws ApiException, IOException {
        return prepareGenerateBuildInputForPublishedPortalRequest(apiGroupId,
                apiEntities).execute();
    }

    /**
     * Generate Build Input for a Portal created using the UI workflow. The Build Input will
     * correspond to the published version of the Portal i.e. unpublished changes will not be
     * inlcuded. This can be used to create a backup of your Portal or to migrate from the UI
     * workflow to the docs as code workflow.
     * @param  apiGroupId  Required parameter:
     * @param  apiEntities  Optional parameter:
     * @return    Returns the Object wrapped in ApiResponse response from the API call
     */
    public CompletableFuture<ApiResponse<Object>> generateBuildInputForPublishedPortalAsync(
            final String apiGroupId,
            final List<String> apiEntities) {
        try {
            return prepareGenerateBuildInputForPublishedPortalRequest(apiGroupId,
            apiEntities).executeAsync();
        } catch (Exception e) {
            throw new CompletionException(e);
        }
    }

    /**
     * Builds the ApiCall object for generateBuildInputForPublishedPortal.
     */
    private ApiCall<ApiResponse<Object>, ApiException> prepareGenerateBuildInputForPublishedPortalRequest(
            final String apiGroupId,
            final List<String> apiEntities) {
        return new ApiCall.Builder<ApiResponse<Object>, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.ENUM_DEFAULT.value())
                        .path("/portal/build/{apiGroupId}/published")
                        .queryParam(param -> param.key("apiEntities")
                                .value(apiEntities).isRequired(false))
                        .templateParam(param -> param.key("apiGroupId").value(apiGroupId)
                                .shouldEncode(true))
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .withAuth(auth -> auth
                                .add("Authorization"))
                        .httpMethod(HttpMethod.GET))
                .responseHandler(responseHandler -> responseHandler
                        .responseClassType(ResponseClassType.API_RESPONSE)
                        .apiResponseDeserializer(
                                response -> response)
                        .nullify404(false)
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }

    /**
     * Unpublish a Hosted or Embedded Portal published for an API Entity. Calling this endpoint
     * deletes all the published artifacts for a Portal from APIMatic's cloud storage. In case of a
     * Hosted Portal, to completely remove the Portal, this endpoint needs to be called against all
     * API versions that the Portal hosts. In case of an Embedded Portal, to completely remove the
     * Portal, the user needs to manually remove the Portal Embed script from the embedding site.
     * @param  apiEntityId  Required parameter: The ID of the API Entity to unpublish the Portal
     *         artifacts for.
     * @return    Returns the Void wrapped in ApiResponse response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public ApiResponse<Void> unpublishPortal(
            final String apiEntityId) throws ApiException, IOException {
        return prepareUnpublishPortalRequest(apiEntityId).execute();
    }

    /**
     * Unpublish a Hosted or Embedded Portal published for an API Entity. Calling this endpoint
     * deletes all the published artifacts for a Portal from APIMatic's cloud storage. In case of a
     * Hosted Portal, to completely remove the Portal, this endpoint needs to be called against all
     * API versions that the Portal hosts. In case of an Embedded Portal, to completely remove the
     * Portal, the user needs to manually remove the Portal Embed script from the embedding site.
     * @param  apiEntityId  Required parameter: The ID of the API Entity to unpublish the Portal
     *         artifacts for.
     * @return    Returns the Void wrapped in ApiResponse response from the API call
     */
    public CompletableFuture<ApiResponse<Void>> unpublishPortalAsync(
            final String apiEntityId) {
        try {
            return prepareUnpublishPortalRequest(apiEntityId).executeAsync();
        } catch (Exception e) {
            throw new CompletionException(e);
        }
    }

    /**
     * Builds the ApiCall object for unpublishPortal.
     */
    private ApiCall<ApiResponse<Void>, ApiException> prepareUnpublishPortalRequest(
            final String apiEntityId) {
        return new ApiCall.Builder<ApiResponse<Void>, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.ENUM_DEFAULT.value())
                        .path("/api-entities/{api_entity_id}/portal")
                        .templateParam(param -> param.key("api_entity_id").value(apiEntityId)
                                .shouldEncode(true))
                        .withAuth(auth -> auth
                                .add("Authorization"))
                        .httpMethod(HttpMethod.DELETE))
                .responseHandler(responseHandler -> responseHandler
                        .responseClassType(ResponseClassType.API_RESPONSE)
                        .nullify404(false)
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }
}