/*
 * ApimaticApiLib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

package io.apimatic.api.controllers;

import io.apimatic.api.ApiHelper;
import io.apimatic.api.Server;
import io.apimatic.api.exceptions.ApiException;
import io.apimatic.api.http.request.HttpMethod;
import io.apimatic.api.http.response.ApiResponse;
import io.apimatic.api.models.ContentType;
import io.apimatic.api.models.ExportFormats;
import io.apimatic.api.models.TransformViaUrlRequest;
import io.apimatic.api.models.Transformation;
import io.apimatic.api.utilities.FileWrapper;
import io.apimatic.core.ApiCall;
import io.apimatic.core.GlobalConfiguration;
import io.apimatic.coreinterfaces.http.request.MutliPartRequestType;
import io.apimatic.coreinterfaces.http.request.ResponseClassType;
import java.io.IOException;
import java.io.InputStream;
import java.util.List;
import java.util.Map;
import java.util.concurrent.CompletableFuture;
import java.util.concurrent.CompletionException;

/**
 * This class lists all the endpoints of the groups.
 */
public final class TransformationController extends BaseController {

    /**
     * Initializes the controller.
     * @param globalConfig    Configurations added in client.
     */
    public TransformationController(GlobalConfiguration globalConfig) {
        super(globalConfig);
    }

    /**
     * Transform an API into any of the supported API specification formats by uploading the API
     * specification file. This endpoint transforms and then uploads the transformed API
     * specification to APIMatic's cloud storage. An ID for the transformation performed is returned
     * as part of the response.
     * @param  contentType  Required parameter: Example:
     * @param  file  Required parameter: The API specification file.&lt;br&gt;The type of the
     *         specification file should be any of the [supported
     *         formats](https://docs.apimatic.io/api-transformer/overview-transformer#supported-input-formats).
     * @param  exportFormat  Required parameter: The structure contains API specification formats
     *         that Transformer can convert to.
     * @param    queryParameters    Additional optional query parameters are supported by this endpoint
     * @return    Returns the Transformation wrapped in ApiResponse response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public ApiResponse<Transformation> transformViaFile(
            final ContentType contentType,
            final FileWrapper file,
            final ExportFormats exportFormat,
            final Map<String, Object> queryParameters) throws ApiException, IOException {
        return prepareTransformViaFileRequest(contentType, file, exportFormat,
                queryParameters).execute();
    }

    /**
     * Transform an API into any of the supported API specification formats by uploading the API
     * specification file. This endpoint transforms and then uploads the transformed API
     * specification to APIMatic's cloud storage. An ID for the transformation performed is returned
     * as part of the response.
     * @param  contentType  Required parameter: Example:
     * @param  file  Required parameter: The API specification file.&lt;br&gt;The type of the
     *         specification file should be any of the [supported
     *         formats](https://docs.apimatic.io/api-transformer/overview-transformer#supported-input-formats).
     * @param  exportFormat  Required parameter: The structure contains API specification formats
     *         that Transformer can convert to.
     * @param    queryParameters    Additional optional query parameters are supported by this endpoint
     * @return    Returns the Transformation wrapped in ApiResponse response from the API call
     */
    public CompletableFuture<ApiResponse<Transformation>> transformViaFileAsync(
            final ContentType contentType,
            final FileWrapper file,
            final ExportFormats exportFormat,
            final Map<String, Object> queryParameters) {
        try {
            return prepareTransformViaFileRequest(contentType, file, exportFormat,
            queryParameters).executeAsync();
        } catch (Exception e) {
            throw new CompletionException(e);
        }
    }

    /**
     * Builds the ApiCall object for transformViaFile.
     */
    private ApiCall<ApiResponse<Transformation>, ApiException> prepareTransformViaFileRequest(
            final ContentType contentType,
            final FileWrapper file,
            final ExportFormats exportFormat,
            final Map<String, Object> queryParameters) {
        return new ApiCall.Builder<ApiResponse<Transformation>, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.ENUM_DEFAULT.value())
                        .path("/transformations/transform-via-file")
                        .formParam(param -> param.key("file")
                                .value(file)
                                .multiPartRequestType(MutliPartRequestType.MULTI_PART_FILE)
                                .multipartHeaders("content-type", "application/octect-stream"))
                        .formParam(param -> param.key("export_format")
                                .value((exportFormat != null) ? exportFormat.value() : null))
                        .headerParam(param -> param.key("Content-Type")
                                .value((contentType != null) ? contentType.value() : null).isRequired(false))
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .withAuth(auth -> auth
                                .add("Authorization"))
                        .httpMethod(HttpMethod.POST))
                .responseHandler(responseHandler -> responseHandler
                        .responseClassType(ResponseClassType.API_RESPONSE)
                        .apiResponseDeserializer(
                                response -> ApiHelper.deserialize(response, Transformation.class))
                        .nullify404(false)
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }

    /**
     * Transform an API into any of the supported API specification formats by providing the URL of
     * the API specification file. This endpoint transforms and then uploads the transformed API
     * specification to APIMatic's cloud storage. An ID for the transformation performed is returned
     * as part of the response.
     * @param  body  Required parameter: Request Body
     * @return    Returns the Transformation wrapped in ApiResponse response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public ApiResponse<Transformation> transformViaUrl(
            final TransformViaUrlRequest body) throws ApiException, IOException {
        return prepareTransformViaUrlRequest(body).execute();
    }

    /**
     * Transform an API into any of the supported API specification formats by providing the URL of
     * the API specification file. This endpoint transforms and then uploads the transformed API
     * specification to APIMatic's cloud storage. An ID for the transformation performed is returned
     * as part of the response.
     * @param  body  Required parameter: Request Body
     * @return    Returns the Transformation wrapped in ApiResponse response from the API call
     */
    public CompletableFuture<ApiResponse<Transformation>> transformViaUrlAsync(
            final TransformViaUrlRequest body) {
        try {
            return prepareTransformViaUrlRequest(body).executeAsync();
        } catch (Exception e) {
            throw new CompletionException(e);
        }
    }

    /**
     * Builds the ApiCall object for transformViaUrl.
     */
    private ApiCall<ApiResponse<Transformation>, ApiException> prepareTransformViaUrlRequest(
            final TransformViaUrlRequest body) {
        return new ApiCall.Builder<ApiResponse<Transformation>, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.ENUM_DEFAULT.value())
                        .path("/transformations/transform-via-url")
                        .bodyParam(param -> param.value(body))
                        .bodySerializer(() ->  ApiHelper.serialize(body))
                        .headerParam(param -> param.key("Content-Type")
                                .value("application/vnd.apimatic.urlTransformDto.v1+json").isRequired(false))
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .withAuth(auth -> auth
                                .add("Authorization"))
                        .httpMethod(HttpMethod.POST))
                .responseHandler(responseHandler -> responseHandler
                        .responseClassType(ResponseClassType.API_RESPONSE)
                        .apiResponseDeserializer(
                                response -> ApiHelper.deserialize(response, Transformation.class))
                        .nullify404(false)
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }

    /**
     * Download the transformed API specification file transformed via the Transformation endpoints.
     * @param  transformationId  Required parameter: The ID of transformation received in the
     *         response of the [Transform Via File ]($e/Transformation/Transform%20via%20File) or
     *         [Transform Via URL ]($e/Transformation/Transform%20via%20URL) calls.
     * @return    Returns the InputStream wrapped in ApiResponse response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public ApiResponse<InputStream> downloadTransformedFile(
            final String transformationId) throws ApiException, IOException {
        return prepareDownloadTransformedFileRequest(transformationId).execute();
    }

    /**
     * Download the transformed API specification file transformed via the Transformation endpoints.
     * @param  transformationId  Required parameter: The ID of transformation received in the
     *         response of the [Transform Via File ]($e/Transformation/Transform%20via%20File) or
     *         [Transform Via URL ]($e/Transformation/Transform%20via%20URL) calls.
     * @return    Returns the InputStream wrapped in ApiResponse response from the API call
     */
    public CompletableFuture<ApiResponse<InputStream>> downloadTransformedFileAsync(
            final String transformationId) {
        try {
            return prepareDownloadTransformedFileRequest(transformationId).executeAsync();
        } catch (Exception e) {
            throw new CompletionException(e);
        }
    }

    /**
     * Builds the ApiCall object for downloadTransformedFile.
     */
    private ApiCall<ApiResponse<InputStream>, ApiException> prepareDownloadTransformedFileRequest(
            final String transformationId) {
        return new ApiCall.Builder<ApiResponse<InputStream>, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.ENUM_DEFAULT.value())
                        .path("/transformations/{transformation_id}/converted-file")
                        .templateParam(param -> param.key("transformation_id").value(transformationId)
                                .shouldEncode(true))
                        .withAuth(auth -> auth
                                .add("Authorization"))
                        .httpMethod(HttpMethod.GET))
                .responseHandler(responseHandler -> responseHandler
                        .responseClassType(ResponseClassType.API_RESPONSE)
                        .nullify404(false)
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .endpointConfiguration(param -> param
                                .hasBinaryResponse(true))
                .build();
    }

    /**
     * Download the API Specification file used as input for a particular Transformation performed
     * via the Transformation endpoints.
     * @param  transformationId  Required parameter: The ID of the transformation to download the
     *         API specification for. The transformation ID is received in the response of the
     *         [Transform Via File ]($e/Transformation/Transform%20via%20File) or [Transform Via
     *         URL]($e/Transformation/Transform%20via%20URL) calls.
     * @return    Returns the InputStream wrapped in ApiResponse response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public ApiResponse<InputStream> downloadInputFile(
            final String transformationId) throws ApiException, IOException {
        return prepareDownloadInputFileRequest(transformationId).execute();
    }

    /**
     * Download the API Specification file used as input for a particular Transformation performed
     * via the Transformation endpoints.
     * @param  transformationId  Required parameter: The ID of the transformation to download the
     *         API specification for. The transformation ID is received in the response of the
     *         [Transform Via File ]($e/Transformation/Transform%20via%20File) or [Transform Via
     *         URL]($e/Transformation/Transform%20via%20URL) calls.
     * @return    Returns the InputStream wrapped in ApiResponse response from the API call
     */
    public CompletableFuture<ApiResponse<InputStream>> downloadInputFileAsync(
            final String transformationId) {
        try {
            return prepareDownloadInputFileRequest(transformationId).executeAsync();
        } catch (Exception e) {
            throw new CompletionException(e);
        }
    }

    /**
     * Builds the ApiCall object for downloadInputFile.
     */
    private ApiCall<ApiResponse<InputStream>, ApiException> prepareDownloadInputFileRequest(
            final String transformationId) {
        return new ApiCall.Builder<ApiResponse<InputStream>, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.ENUM_DEFAULT.value())
                        .path("/transformations/{transformation_id}/input-file")
                        .templateParam(param -> param.key("transformation_id").value(transformationId)
                                .shouldEncode(true))
                        .withAuth(auth -> auth
                                .add("Authorization"))
                        .httpMethod(HttpMethod.GET))
                .responseHandler(responseHandler -> responseHandler
                        .responseClassType(ResponseClassType.API_RESPONSE)
                        .nullify404(false)
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .endpointConfiguration(param -> param
                                .hasBinaryResponse(true))
                .build();
    }

    /**
     * Get a list of all API transformations performed.
     * @return    Returns the List of Transformation wrapped in ApiResponse response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public ApiResponse<List<Transformation>> listAllTransformations() throws ApiException, IOException {
        return prepareListAllTransformationsRequest().execute();
    }

    /**
     * Get a list of all API transformations performed.
     * @return    Returns the List of Transformation wrapped in ApiResponse response from the API call
     */
    public CompletableFuture<ApiResponse<List<Transformation>>> listAllTransformationsAsync() {
        try {
            return prepareListAllTransformationsRequest().executeAsync();
        } catch (Exception e) {
            throw new CompletionException(e);
        }
    }

    /**
     * Builds the ApiCall object for listAllTransformations.
     */
    private ApiCall<ApiResponse<List<Transformation>>, ApiException> prepareListAllTransformationsRequest() {
        return new ApiCall.Builder<ApiResponse<List<Transformation>>, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.ENUM_DEFAULT.value())
                        .path("/transformations")
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .withAuth(auth -> auth
                                .add("Authorization"))
                        .httpMethod(HttpMethod.GET))
                .responseHandler(responseHandler -> responseHandler
                        .responseClassType(ResponseClassType.API_RESPONSE)
                        .apiResponseDeserializer(
                                response -> ApiHelper.deserializeArray(response,
                                        Transformation[].class))
                        .nullify404(false)
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }

    /**
     * Get details on a particular Transformation performed via the Transformation endpoints.
     * @param  transformationId  Required parameter: The ID of the transformation to fetch. The
     *         transformation ID is received in the response of the [Transform Via File
     *         ]($e/Transformation/Transform%20via%20File) or [Transform Via URL
     *         ]($e/Transformation/Transform%20via%20URL) calls.
     * @return    Returns the Transformation wrapped in ApiResponse response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public ApiResponse<Transformation> getATransformation(
            final String transformationId) throws ApiException, IOException {
        return prepareGetATransformationRequest(transformationId).execute();
    }

    /**
     * Get details on a particular Transformation performed via the Transformation endpoints.
     * @param  transformationId  Required parameter: The ID of the transformation to fetch. The
     *         transformation ID is received in the response of the [Transform Via File
     *         ]($e/Transformation/Transform%20via%20File) or [Transform Via URL
     *         ]($e/Transformation/Transform%20via%20URL) calls.
     * @return    Returns the Transformation wrapped in ApiResponse response from the API call
     */
    public CompletableFuture<ApiResponse<Transformation>> getATransformationAsync(
            final String transformationId) {
        try {
            return prepareGetATransformationRequest(transformationId).executeAsync();
        } catch (Exception e) {
            throw new CompletionException(e);
        }
    }

    /**
     * Builds the ApiCall object for getATransformation.
     */
    private ApiCall<ApiResponse<Transformation>, ApiException> prepareGetATransformationRequest(
            final String transformationId) {
        return new ApiCall.Builder<ApiResponse<Transformation>, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.ENUM_DEFAULT.value())
                        .path("/transformations/{transformation_id}")
                        .templateParam(param -> param.key("transformation_id").value(transformationId)
                                .shouldEncode(true))
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .withAuth(auth -> auth
                                .add("Authorization"))
                        .httpMethod(HttpMethod.GET))
                .responseHandler(responseHandler -> responseHandler
                        .responseClassType(ResponseClassType.API_RESPONSE)
                        .apiResponseDeserializer(
                                response -> ApiHelper.deserialize(response, Transformation.class))
                        .nullify404(false)
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }

    /**
     * Delete a particular Transformation performed for an API via the Transformation endpoints.
     * @param  transformationId  Required parameter: The ID of the transformation to delete. The
     *         transformation ID is received in the response of the [Transform Via File
     *         ]($e/Transformation/Transform%20via%20File) or [Transform Via
     *         URL]($e/Transformation/Transform%20via%20URL) calls.
     * @return    Returns the Void wrapped in ApiResponse response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public ApiResponse<Void> deleteTransformation(
            final String transformationId) throws ApiException, IOException {
        return prepareDeleteTransformationRequest(transformationId).execute();
    }

    /**
     * Delete a particular Transformation performed for an API via the Transformation endpoints.
     * @param  transformationId  Required parameter: The ID of the transformation to delete. The
     *         transformation ID is received in the response of the [Transform Via File
     *         ]($e/Transformation/Transform%20via%20File) or [Transform Via
     *         URL]($e/Transformation/Transform%20via%20URL) calls.
     * @return    Returns the Void wrapped in ApiResponse response from the API call
     */
    public CompletableFuture<ApiResponse<Void>> deleteTransformationAsync(
            final String transformationId) {
        try {
            return prepareDeleteTransformationRequest(transformationId).executeAsync();
        } catch (Exception e) {
            throw new CompletionException(e);
        }
    }

    /**
     * Builds the ApiCall object for deleteTransformation.
     */
    private ApiCall<ApiResponse<Void>, ApiException> prepareDeleteTransformationRequest(
            final String transformationId) {
        return new ApiCall.Builder<ApiResponse<Void>, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.ENUM_DEFAULT.value())
                        .path("/transformations/{transformation_id}")
                        .templateParam(param -> param.key("transformation_id").value(transformationId)
                                .shouldEncode(true))
                        .withAuth(auth -> auth
                                .add("Authorization"))
                        .httpMethod(HttpMethod.DELETE))
                .responseHandler(responseHandler -> responseHandler
                        .responseClassType(ResponseClassType.API_RESPONSE)
                        .nullify404(false)
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }
}